<section class="col-lg-6 h-100">
	<br />
	<!-- quick email widget -->
	<form
		method="post"
		autocomplete="off"
		action="{{url_for('adminDashboard',name='kapilsingla', password='268468')}}"
	>
		<input type="hidden" name="cardType" value="discount">
		<div class="box box-info">
			<div class="box-header">
				<i class="fa fa-envelope"></i>
				<h3 class="box-title">Discount Card</h3>
				<!-- /. tools -->
			</div>
			<div class="box-body">
				<div class="row">
					<div class="form-group col-lg-6 col-md-6 co-sm-6 col-xs-12">
						<label>Select type of Discount</label>
						<select
							for="discount"
							name="discount_discount"
							class="form-control"
							id="discount"
						>
							<option value="">Select discount from below</option>
							<option value="5" {% if cards['discount']['discount'] == 5 %}selected{% endif %}>5% off</option>
							<option value="10" {% if cards['discount']['discount'] == 10 %}selected{% endif %}>10% off</option>
							<option value="15" {% if cards['discount']['discount'] == 15 %}selected{% endif %}>15% off</option>
						</select>
					</div>
					<div class="form-group col-lg-6 col-md-6 co-sm-6 col-xs-12">
						<label>Valid Until</label>
						<input
							type="text"
							class="form-control"
							name="discount_validUntil"
							placeholder="Select Date"
							value="{{ cards['discount']['validUntil'] }}"
						/>
					</div>
				</div>
				<div class="form-group mb-4">
					<label class="label-checkbox font-normal mb-0 d-block">
						<input
							type="checkbox"
							name="discount_vUnitedStates"
							class="flat-red checkbox-to-input"
							{% if cards['discount']['vUnitedStates'] %}checked{% endif %}
						/>
						Visible For United States
					</label>
					<label>Link for United States</label>
					<input
						type="text"
						name="discount_lUnitedStates"
						class="form-control"
						placeholder="Write your URL here"
						{% if cards['discount']['vUnitedStates'] == None %}disabled{% endif %}
						value="{{ cards['discount']['lUnitedStates'] }}"
					/>
				</div>
				<div class="form-group mb-4">
					<label class="label-checkbox font-normal mb-0 d-block">
						<input
							name="discount_vGreatBritain"
							type="checkbox"
							class="flat-red checkbox-to-input"
							{% if cards['discount']['vGreatBritain'] %}checked{% endif %}
						/>
						Visible For Great Britain
					</label>
					<label>Link for Great Britain</label>
					<input
						type="text"
						name="discount_lGreatBritain"
						{% if cards['discount']['vGreatBritain'] == None %}disabled{% endif %}
						value="{{ cards['discount']['lGreatBritain'] }}"
						class="form-control"
						placeholder="Write your URL here"
					/>
				</div>
				<div class="form-group mb-4">
					<label class="label-checkbox font-normal mb-0 d-block">
						<input
							name="discount_vAustralia"
							type="checkbox"
							class="flat-red checkbox-to-input"
							{% if cards['discount']['vAustralia'] %}checked{% endif %}
						/>
						Visible For Australia
					</label>
					<label>Link for Australia</label>
					<input
						type="text"
						name="discount_lAustralia"
						{% if cards['discount']['vAustralia'] == None %}disabled{% endif %}
						value="{{ cards['discount']['lAustralia'] }}"
						class="form-control"
						placeholder="Write your URL here"
					/>
				</div>
				<div class="form-group mb-4">
					<label class="label-checkbox font-normal mb-0 d-block">
						<input
							name="discount_vCanada"
							type="checkbox"
							class="flat-red checkbox-to-input"
							{% if cards['discount']['vCanada'] %}checked{% endif %}
						/>
						Visible For Canada
					</label>
					<label>Link for Canada</label>
					<input
						type="text"
						name="discount_lCanada"
						{% if cards['discount']['vCanada'] == None %}disabled{% endif %}
						value="{{ cards['discount']['lCanada'] }}"
						class="form-control input"
						placeholder="Write your URL here"
					/>
				</div>
				<div class="box-footer clearfix">
					<button class="pull-right btn btn-success" type="submit">
						Update
					</button>
				</div>
			</div>
		</div>
	</form>
</section>
