{% extends "layouts/home.html" %} {% block content %}

<main class="main-wrapper">
	<!-- Start Slider Area -->
	<div class="axil-main-slider-area main-slider-style-2">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 department-menu-col">
					{% include "includes/_categories_sidebar.html" %}
				</div>
				<div class="col-lg-9">
					<div class="slider-offset-left">
						<div class="row row--20">
							<div class="col-lg-9">
								<div class="slider-box-wrap">
									<div class="slider-activation-one axil-slick-dots">
										{% for product in products[0:3] %}
										<div class="single-slide slick-slide">
											<div class="main-slider-content">
												<span class="subtitle"> {{ product[10] }}</span
												>
												<h1 class="title">{{ product[1] }}</h1>
												<div class="shop-btn">
													<a
														href="{{ product[9] }}"
														target="_blank"
														class="axil-btn"
														>Shop Now <i class="fal fa-long-arrow-right"></i
													></a>
												</div>
											</div>
											<div class="main-slider-thumb">
												<img
													src="{{ product[0] }}"
													alt="Product"
												/>
											</div>
										</div>
										{% endfor %}
									</div>
								</div>
							</div>
							<div class="col-lg-3">
								<div class="slider-product-box" style="height: 100%;">
									<div class="product-thumb">
										<a href="#">
											<img
												src="{{ products[4][0] }}"
												alt="Product"
											/>
										</a>
									</div>
									<h6 class="title">
										<a href="{{ products[4][9] }}">{{ products[4][1] }}</a>
									</h6>
									<span class="price">{{ products[4][2] }}</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Slider Area -->

	<div class="service-area">
		<div class="container">
			<div
				class="row row-cols-xl-5 row-cols-lg-5 row-cols-md-3 row-cols-sm-2 row-cols-1 row--20"
			>
				<div class="col">
					<div class="service-box">
						<div class="icon">
							<img
								src="{{ url_for('static', filename='images/icons/service1.png') }}"
								alt="Service"
							/>
						</div>
						<h6 class="title">Fast &amp; Secure Delivery</h6>
					</div>
				</div>
				<div class="col">
					<div class="service-box">
						<div class="icon">
							<img
								src="{{ url_for('static', filename='images/icons/service2.png') }}"
								alt="Service"
							/>
						</div>
						<h6 class="title">100% Guarantee On Product</h6>
					</div>
				</div>
				<div class="col">
					<div class="service-box">
						<div class="icon">
							<img
								src="{{ url_for('static', filename='images/icons/service3.png') }}"
								alt="Service"
							/>
						</div>
						<h6 class="title">24 Hour Return Policy</h6>
					</div>
				</div>
				<div class="col">
					<div class="service-box">
						<div class="icon">
							<img
								src="{{ url_for('static', filename='images/icons/service4.png') }}"
								alt="Service"
							/>
						</div>
						<h6 class="title">24 Hour Return Policy</h6>
					</div>
				</div>
				<div class="col">
					<div class="service-box">
						<div class="icon">
							<img
								src="{{ url_for('static', filename='images/icons/service5.png') }}"
								alt="Service"
							/>
						</div>
						<h6 class="title">Next Level Pro Quality</h6>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Start New Arrivals Product Area  -->
	<div
		class="axil-new-arrivals-product-area fullwidth-container bg-color-white axil-section-gap pb--0"
	>
		<div class="container ml--xxl-0">
			<div class="product-area pb--50">
				<div class="section-title-wrapper">
					<span class="title-highlighter highlighter-primary"
						><i class="far fa-shopping-basket"></i>New Arrivals</span
					>
					<h2 class="title">Our Skin Care Products</h2>
				</div>
				<div
					class="new-arrivals-product-activation slick-layout-wrapper--15 axil-slick-arrow arrow-top-slide"
				>
					{% for product in products %}

					<div class="slick-single-layout">
						<div class="axil-product product-style-four">
							<div class="thumbnail">
								<a
									href="{{ url_for('productDetails', country=country, id=products.index(product)) }}"
								>
									<img
										data-sal="fade"
										data-sal-delay="100"
										data-sal-duration="1500"
										src="{{ product[0] }}"
										alt="Product Images"
									/>
									<img
										class="hover-img"
										src="{{ product[0] }}"
										alt="Product Images"
									/>
								</a>
								<div class="product-hover-action">
									<ul class="cart-action">
										<li class="select-option">
											<a href="{{ product[9] }}">Go to Website</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="product-content">
								<div class="inner">
									<h5 class="title">
										<a
											href="{{ url_for('productDetails', country=country, id=products.index(product)) }}"
										>
											{{ product[1] }}
										</a>
									</h5>
									<div class="product-price-variant">
										<span class="price">{{ product[2] }}</span>
									</div>
								</div>
							</div>
						</div>
					</div>

					{% endfor %}
				</div>
			</div>
		</div>
	</div>
	<!-- End New Arrivals Product Area  -->

	<!-- Poster Countdown Area  -->
	<div class="axil-poster-countdown">
		<div class="container">
			<div class="poster-countdown-wrap bg-lighter">
				<div class="row">
					<div class="col-xl-5 col-lg-6">
						<div class="poster-countdown-content">
							<div class="section-title-wrapper">
								<span class="title-highlighter highlighter-secondary">
									<i class="far fa-shopping-basket"></i> Don’t Miss!!</span
								>
								<h2 class="title">Let's Shopping Today</h2>
							</div>
							<div class="poster-countdown countdown mb--40"></div>
							<a href="#" class="axil-btn btn-bg-primary">Check it Out!</a>
						</div>
					</div>
					<div class="col-xl-7 col-lg-6">
						<div class="poster-countdown-thumbnail">
							<img
								src="{{ url_for('static', filename='images/product/poster/poster-05.png') }}"
								alt="Poster Product"
							/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Poster Countdown Area  -->

	<!-- Start Expolre Product Area  -->
	<div class="axil-product-area bg-color-white axil-section-gap">
		<div class="container">
			<div class="section-title-wrapper">
				<span class="title-highlighter highlighter-primary">
					<i class="far fa-shopping-basket"></i> Our Products</span
				>
				<h2 class="title">Explore our Products</h2>
			</div>
			<div class="row row--15">
				{% for product in products[:8] %}
				<div class="col-xl-3 col-lg-4 col-sm-6">
					<div class="axil-product product-style-one has-color-pick mt--40">
						<div class="thumbnail">
							<a
								href="{{ url_for('productDetails', country=country, id=products.index(product)) }}"
							>
								<img src="{{ product[0] }}" alt="Product Images" />
							</a>
							<div class="product-hover-action">
								<ul class="cart-action">
									<li class="select-option">
										<a href="{{ product[9] }}" target="_blank">Go to Website</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="product-content">
							<div class="inner">
								<h5 class="title">
									<a
										href="{{ url_for('productDetails', country=country, id=products.index(product)) }}"
										>{{ product[1] }}</a
									>
								</h5>
								<div class="product-price-variant">
									<span class="price current-price">{{ product[2] }}</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
			<div class="row">
				<div class="col-lg-12 text-center mt--20 mt_sm--0">
					<a
						href="{{ url_for('shop', country=country) }}"
						class="axil-btn btn-bg-lighter btn-load-more"
						>View All Products</a
					>
				</div>
			</div>
		</div>
	</div>
	<!-- End Expolre Product Area  -->

	<!-- Start Axil Newsletter Area  -->
	<div class="axil-newsletter-area axil-section-gap pt--0">
		<div class="container">
			<div class="etrade-newsletter-wrapper bg_image bg_image--12">
				<div class="newsletter-content">
					<span class="title-highlighter highlighter-primary2"
						><i class="fas fa-envelope-open"></i>Newsletter</span
					>
					<h2 class="title mb--40 mb_sm--30">Get weekly update</h2>
					<div class="input-group newsletter-form">
						<div class="position-relative newsletter-inner mb--15">
							<input placeholder="example@gmail.com" type="text" />
						</div>
						<button type="submit" class="axil-btn mb--15">Subscribe</button>
					</div>
				</div>
			</div>
		</div>
		<!-- End .container -->
	</div>
	<!-- End Axil Newsletter Area  -->
</main>

<!-- Header Search Modal End -->
<div class="header-search-modal" id="header-search-modal">
	<button class="card-close sidebar-close">
		<i class="fas fa-times"></i>
	</button>
	<div class="header-search-wrap">
		<div class="card-header">
			<form action="#">
				<div class="input-group">
					<input
						type="search"
						class="form-control"
						name="prod-search"
						id="prod-search"
						placeholder="Search your product here"
					/>
					<button type="submit" class="axil-btn btn-bg-primary">
						<i class="far fa-search"></i>
					</button>
				</div>
			</form>
		</div>
		<div class="card-body">
			<div class="search-result-header">
				<h6 class="title" id="total-result-found">Result Found</h6>
				<a href="{{ url_for('shop', country=country) }}" class="view-all"
					>View All</a
				>
			</div>
			<div class="psearch-results">
				<div class="text-center">No product found!!</div>
			</div>
		</div>
	</div>
</div>
<!-- Header Search Modal End -->

<div id="product-clone" style="display: none">
	<div class="slick-single-layout">
		<div class="axil-product product-style-four">
			<div class="thumbnail">
				<a href="__PRODUCT_URL__">
					<img
						data-sal="fade"
						data-sal-delay="100"
						data-sal-duration="1500"
						data-image="0"
						alt="Product Images"
					/>
					<img class="hover-img" data-image="1" alt="Product Images" />
				</a>
				<div class="product-hover-action">
					<ul class="cart-action">
						<li class="select-option">
							<a href="">Go to Website</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="product-content">
				<div class="inner">
					<h5 class="title">
						<a href="__PRODUCT_URL__"> __PRODUCT_NAME__ </a>
					</h5>
					<div class="product-price-variant">
						<span class="price">__PRODUCT_PRICE__</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="top-banner-clone" style="display: none">
	<div class="single-slide slick-slide">
		<div class="main-slider-content">
			<span class="subtitle"
				><i class="fal fa-watch"></i> __PRODUCT_CATEGORY__</span
			>
			<h1 class="title">__PRODUCT_NAME__</h1>
			<div class="shop-btn">
				<a href="__PRODUCT_WEBSITE_URL__" class="axil-btn"
					>Shop Now <i class="fal fa-long-arrow-right"></i
				></a>
			</div>
		</div>
		<div class="main-slider-thumb">
			<img data-image="0" alt="Product" />
		</div>
	</div>
</div>

<div id="search-product-clone" style="display: none">
	<div class="axil-product-list">
		<div class="thumbnail">
			<a>
				<img
					style="
						width: 120px;
						height: 120px;
						object-fit: cover;
						object-position: center;
					"
					data-image="0"
				/>
			</a>
		</div>
		<div class="product-content">
			<h6 class="product-title">
				<a href="">__PRODUCT_NAME__</a>
			</h6>
			<div class="product-price-variant">
				<span class="price current-price">__PRODUCT_PRICE__</span>
			</div>
			<div class="product-cart">
				<a href="__PRODUCT_WEBSITE_URL__" target="_blank" class="cart-btn">
					<i class="fal fa-eye"></i>
				</a>
			</div>
		</div>
	</div>
</div>

{% endblock %} {% block scripts %}
<script>
	$("body").on('click', ".axil-search", function (e) {
		$("#prod-search").val("");
		$(".search-result-header").hide();
	});

	const allProducts = {{ productsGroupByCategory|tojson|safe }};

	$("body").on("click", ".nav-menu-list li", function (e) {
		e.preventDefault();
		var $this = $(this);
		$(".nav-menu-list li").removeClass("active");
		$this.addClass("active");
		var category = $this.find(".menu-text").text();
		$("html, body").animate({scrollTop: 0,},"300");

		$('.department-nav-menu').removeClass('open')
		$('.sticky-header').removeClass('open').removeAttr('style')
		// Data
		var data = allProducts[category];
		$(".new-arrivals-product-activation").slick(
			"removeSlide",
			null,
			null,
			true
		);
		$(".slider-activation-one").slick("removeSlide", null, null, true);
		$(".product-area .title").text(`Our ${category} Products`);
		let html = "";
		let carouselHtml = "";
		let i = 0;
		data.forEach((product) => {
			html += $("#product-clone")
				.html()
				.replace(/data-image="0"/g, `src="${product[0]}"`)
				.replace(/data-image="1"/g, `src="${product[0]}"`)
				.replace(/__PRODUCT_NAME__/g, product[1])
				.replace(/__PRODUCT_PRICE__/g, product[2])
				.replace(/__PRODUCT_WEBSITE_URL__/g, product[9])
				.replace(/__PRODUCT_DETAIL_URL__/g, product[9]);
			if (i < 3) {
				carouselHtml += $("#top-banner-clone")
					.html()
					.replace(/data-image="0"/g, `src="${product[0]}"`)
					.replace(/__PRODUCT_NAME__/g, product[1])
					.replace(
						/__PRODUCT_WEBSITE_URL__/g,
						"{{ url_for('shop', country=country) }}"
					)
					.replace(/__PRODUCT_CATEGORY__/g, category);
			}
			// if product is 4th append to .slider-product-box
			if (i == 4) {
				$(".slider-product-box").find('img').attr('src', product[0])
				$(".slider-product-box").find('.title a').text(product[1]).attr('href', product[9])
				$(".slider-product-box").find('.price').text(product[2])
			}
			i++;
			return;
		});
		$(".new-arrivals-product-activation").slick("slickAdd", html);
		$(".slider-activation-one").slick("slickAdd", carouselHtml);
		sal({
			threshold: 0.3,
			once: true,
		});
	});

	// on change prod-search
	$("body").on("input change", "#prod-search", function (e) {
		e.preventDefault();
		var $this = $(this);
		var value = $this.val();
		// Data
		// search in all products from index 1 and 3
		var data = allProducts["All Products"].filter((product) => {
			return (
				product[1].toLowerCase().indexOf(value.toLowerCase()) > -1 ||
				product[3].toLowerCase().indexOf(value.toLowerCase()) > -1
			);
		});
		if(value){
			$(".search-result-header").show();
			$("#total-result-found").show().text(`${data.length} Results Found`);
			// clone #search-product-clone and replace data and append to .psearch-results
			let html = "";
			data.forEach((product) => {
				html += $("#search-product-clone")
					.html()
					.replace(/data-image="0"/g, `src="${product[0]}"`)
					.replace(/__PRODUCT_NAME__/g, product[1])
					.replace(/__PRODUCT_PRICE__/g, product[2])
					.replace(/__PRODUCT_WEBSITE_URL__/g, product[9]);
			});
			$(".psearch-results").html(html);
			if(data.length == 0){
				$(".psearch-results").html("<div class='text-center'>No product found!!</div>");
			}
		}else{
			$("#total-result-found").show().text(`0 Results Found`);
			$(".psearch-results").html("<div class='text-center'>No product found!!</div>");
		}
	});
</script>

{% endblock %}
