{% extends "layouts/home.html" %} {% block content %}

<main class="main-wrapper">
	<!-- Start Slider Area -->
	<div class="axil-main-slider-area main-slider-style-2">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-12 department-menu-col">
					{% include "includes/_categories_sidebar.html" %}
				</div>
				<div class="col-lg-9">
					<div class="slider-offset-left">
						<div class="row row--20">
							<div class="col-lg-9">
								<div class="slider-box-wrap">
									<div class="slider-activation-one axil-slick-dots">
										{% for product in productsGroupByCategory['New Products'][:3]
										%}
										<div class="single-slide slick-slide">
											<div class="main-slider-content">
												<span class="subtitle">New Products</span>
												<h1 class="title">{{ product[1] }}</h1>
												<div class="shop-btn">
													<a
														href="{{ url_for('productDetails', country=country, restArea=restArea, name=product[1]) }}"
														class="axil-btn"
														>Shop Now <i class="fal fa-long-arrow-right"></i
													></a>
												</div>
											</div>
											<div class="main-slider-thumb">
												<img src="{{ product[0] }}" alt="Product" />
											</div>
										</div>
										{% endfor %}
									</div>
								</div>
							</div>
							<div class="col-lg-3">
								<div
									class="slider-product-box single-product-box"
									style="height: 100%"
								>
									<div class="product-thumb">
										<a href="#">
											<img
												src="{{ productsGroupByCategory['New Products'][0][0] }}"
												alt="Product"
											/>
										</a>
									</div>
									<h6 class="title">
										<a href="{{ productsGroupByCategory['New Products'][0][9] }}"
											>{{ productsGroupByCategory['New Products'][0][1] }}</a
										>
									</h6>
									<span class="price"
										>{{ productsGroupByCategory['New Products'][0][2] }}</span
									>
								</div>
							</div>
						</div>
					</div>
					<div
						class="row row-cols-xl-3 row-cols-lg-3 row-cols-md-3 row-cols-sm-2 row-cols-1 row--20"
					>
						<div class="col">
							<div class="home-service-box" data-color="green">
								<h5>Free Shipping</h5>
								<h6>Click to get</h6>
								<button>Get Now</button>
							</div>
						</div>
						<div class="col">
							<div class="home-service-box" data-color="light-blue">
								<h5>10% Off</h5>
								<h6>Special Discount</h6>
								<ul class="timer-box">
									<li class="days">0d</li>
									<li class="hours">0h</li>
									<li class="minutes">0m</li>
									<li class="seconds">0s</li>
								</ul>
								<button>Get Now</button>
							</div>
						</div>
						<div class="col">
							<div class="home-service-box" data-color="purple">
								<h5>Join & Save</h5>
								<h6>Instanly</h6>
								<h4>5% Off</h4>
								<button>Get Now</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Slider Area -->

	<!-- Start Expolre Product Area  -->
	<div class="axil-product-area bg-color-white axil-section-gap pb-0">
		<div class="container">
			<div class="product-area">
				<div class="section-title-wrapper">
					<span class="title-highlighter highlighter-primary"
						><i class="far fa-shopping-basket"></i>New Arrivals</span
					>
					<h2 class="title">Our New Products</h2>
				</div>
				<div
					class="new-arrivals-product-activation slick-layout-wrapper--15 axil-slick-arrow arrow-top-slide"
				>
					{% for product in productsGroupByCategory['New Products'] %}

					<div class="slick-single-layout">
						<div class="axil-product product-style-four">
							<div class="thumbnail">
								<a
									href="{{ url_for('productDetails', country=country, restArea=restArea, name=product[1]) }}"
								>
									<img
										data-sal="fade"
										data-sal-delay="100"
										data-sal-duration="1500"
										src="{{ product[0] }}"
										alt="Product Images"
									/>
									<img
										class="hover-img"
										src="{{ product[0] }}"
										alt="Product Images"
									/>
								</a>
								<div class="product-hover-action">
									<ul class="cart-action">
										<li class="select-option">
											<a
												href="{{ url_for('productDetails', country=country, restArea=restArea, name=product[1]) }}"
												>See Product</a
											>
										</li>
									</ul>
								</div>
							</div>
							<div class="product-content">
								<div class="inner">
									<h5 class="title">
										<a
											href="{{ url_for('productDetails', country=country, restArea=restArea, name=product[1]) }}"
										>
											{{ product[1] }}
										</a>
									</h5>
									<div class="product-price-variant">
										<span class="price">{{ product[2] }}</span>
									</div>
								</div>
							</div>
						</div>
					</div>

					{% endfor %}
				</div>
			</div>
		</div>
	</div>

	<!-- Start Expolre Product Area  -->
	<div class="axil-product-area bg-color-white axil-section-gap">
		<div class="container">
			<div class="section-title-wrapper">
				<span class="title-highlighter highlighter-primary">
					<i class="far fa-shopping-basket"></i> Our Products</span
				>
				<h2 class="title">Explore Our Products</h2>
			</div>
			<div class="row row--15">
				{% for product in productsGroupByCategory[categories[0]][:4] %}
				<div class="col-xl-3 col-lg-4 col-sm-6">
					<div class="axil-product product-style-one has-color-pick mt--40">
						<div class="thumbnail">
							<a
								href="{{ url_for('productDetails', country=country, restArea=restArea, name=product[1]) }}"
							>
								<img src="{{ product[0] }}" alt="Product Images" />
							</a>
							<div class="product-hover-action">
								<ul class="cart-action">
									<li class="select-option">
										<a
											href="{{ url_for('productDetails', country=country, restArea=restArea, name=product[1]) }}"
											target="_blank"
											>See Product</a
										>
									</li>
								</ul>
							</div>
						</div>
						<div class="product-content">
							<div class="inner text-center">
								<h5 class="title">
									<a
										href="{{ url_for('productDetails', country=country, restArea=restArea, name=product[1]) }}"
										>{{ product[1] }}</a
									>
								</h5>
								<div class="product-price-variant">
									<span class="price current-price">{{ product[2] }}</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
			<div class="row">
				<div class="col-lg-12 text-center mt--20">
					<a
						href="{{ url_for('shop', restArea=restArea, country=country) }}"
						class="axil-btn btn-bg-lighter btn-load-more"
						>View All Products</a
					>
				</div>
			</div>
		</div>
	</div>
	<!-- End Expolre Product Area  -->

	<!-- Start Axil Newsletter Area  -->
	<div class="axil-newsletter-area axil-section-gap pt--0">
		<div class="container">
			<div class="etrade-newsletter-wrapper bg_image bg_image--12">
				<div class="newsletter-content">
					<span class="title-highlighter highlighter-primary2"
						><i class="fas fa-envelope-open"></i>Newsletter</span
					>
					<h2 class="title mb--40 mb_sm--30">Get weekly update</h2>
					<div class="input-group newsletter-form">
						<div class="position-relative newsletter-inner mb--15">
							<input placeholder="example@gmail.com" type="text" />
						</div>
						<button type="submit" class="axil-btn mb--15">Subscribe</button>
					</div>
				</div>
			</div>
		</div>
		<!-- End .container -->
	</div>
	<!-- End Axil Newsletter Area  -->
</main>

<!-- Header Search Modal End -->
<div class="header-search-modal" id="header-search-modal">
	<button class="card-close sidebar-close">
		<i class="fas fa-times"></i>
	</button>
	<div class="header-search-wrap">
		<div class="card-header">
			<form action="#">
				<div class="input-group">
					<input
						type="search"
						class="form-control"
						name="prod-search"
						id="prod-search"
						placeholder="Search your product here"
					/>
					<button type="submit" class="axil-btn btn-bg-primary">f
						<i class="far fa-search"></i>
					</button>
				</div>
			</form>
		</div>
		<div class="card-body">
			<div class="search-result-header">
				<h6 class="title" id="total-result-found">Result Found</h6>
			</div>
			<div class="psearch-results">
				<div class="text-center">No product found!!</div>
			</div>
		</div>
	</div>
</div>
<!-- Header Search Modal End -->

<div id="product-clone" style="display: none">
	<div class="slick-single-layout">
		<div class="axil-product product-style-four">
			<div class="thumbnail">
				<a href="__PRODUCT_URL__">
					<img
						data-sal="fade"
						data-sal-delay="100"
						data-sal-duration="1500"
						data-image="0"
						alt="Product Images"
					/>
					<img class="hover-img" data-image="1" alt="Product Images" />
				</a>
				<div class="product-hover-action">
					<ul class="cart-action">
						<li class="select-option">
							<a href="">See Product</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="product-content">
				<div class="inner">
					<h5 class="title">
						<a href="__PRODUCT_URL__"> __PRODUCT_NAME__ </a>
					</h5>
					<div class="product-price-variant">
						<span class="price">__PRODUCT_PRICE__</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="top-banner-clone" style="display: none">
	<div class="single-slide slick-slide">
		<div class="main-slider-content">
			<span class="subtitle"
				><i class="fal fa-watch"></i> __PRODUCT_CATEGORY__</span
			>
			<h1 class="title">__PRODUCT_NAME__</h1>
			<div class="shop-btn">
				<a href="__PRODUCT_WEBSITE_URL__" class="axil-btn"
					>Shop Now <i class="fal fa-long-arrow-right"></i
				></a>
			</div>
		</div>
		<div class="main-slider-thumb">
			<img data-image="0" alt="Product" />
		</div>
	</div>
</div>

<div id="search-product-clone" style="display: none">
	<div class="axil-product-list">
		<div class="thumbnail">
			<a>
				<img
					style="
						width: 120px;
						height: 120px;
						object-fit: cover;
						object-position: center;
					"
					data-image="0"
				/>
			</a>
		</div>
		<div class="product-content">
			<h6 class="product-title">
				<a href="">__PRODUCT_NAME__</a>
			</h6>
			<div class="product-price-variant">
				<span class="price current-price">__PRODUCT_PRICE__</span>
			</div>
			<div class="product-cart">
				<a href="__PRODUCT_WEBSITE_URL__" class="cart-btn">
					<i class="fal fa-arrow-right"></i>
				</a>
			</div>
		</div>
	</div>
</div>

{% endblock %} {% block scripts %}
<script>
	$("body").on('click', ".axil-search", function (e) {
		$("#prod-search").val("");
		$(".search-result-header").hide();
	});

	const allProducts_byCategory = {{ productsGroupByCategory|tojson|safe }};
	const allProducts = {{ productsGroupByCategory['All Products']|tojson|safe }};
	var productUrl = "{{ url_for('productDetails', country=country, restArea=restArea, name='_PRODUCT_NAME_') }}"

	$("body").on("click", ".nav-menu-list li", function (e) {
		e.preventDefault();
		var $this = $(this);
		$(".nav-menu-list li").removeClass("active");
		$this.addClass("active");
		var category = $this.find(".menu-text").text();

		// if screen is mobile scroll to top
		if ($(window).width() < 768) {
			$("html, body").animate({ scrollTop: 0 }, "slow");
		}

		$('.department-nav-menu').removeClass('open')
		$('.sticky-header').removeClass('open').removeAttr('style')
		// Data
		var data = allProducts_byCategory[category];
		$(".new-arrivals-product-activation").slick(
			"removeSlide",
			null,
			null,
			true
		);
		$(".slider-activation-one").slick("removeSlide", null, null, true);
		$(".product-area .title").text(`Our ${category.replace(/Products/g, '')} Products`);
		let html = "";
		let carouselHtml = "";
		let i = 0;
		data.forEach((product) => {
			html += $("#product-clone")
				.html()
				.replace(/data-image="0"/g, `src="${product[0]}"`)
				.replace(/data-image="1"/g, `src="${product[0]}"`)
				.replace(/__PRODUCT_NAME__/g, product[1])
				.replace(/__PRODUCT_PRICE__/g, product[2])
				.replace(/__PRODUCT_WEBSITE_URL__/g, productUrl.replace(/_PRODUCT_NAME_/g, product[1]))
				.replace(/__PRODUCT_DETAIL_URL__/g, product[9]);
			if (i < 3) {
				carouselHtml += $("#top-banner-clone")
					.html()
					.replace(/data-image="0"/g, `src="${product[0]}"`)
					.replace(/__PRODUCT_NAME__/g, product[1])
					.replace(/__PRODUCT_WEBSITE_URL__/g, productUrl.replace(/_PRODUCT_NAME_/g, product[1]))
					.replace(/__PRODUCT_CATEGORY__/g, category);
			}
			// if product is 4th append to .slider-product-box
			if (i == 4) {
				$(".slider-product-box").find('img').attr('src', product[0])
				$(".slider-product-box").find('.title a').text(product[1]).attr('href', product[9])
				$(".slider-product-box").find('.price').text(product[2])
			}
			i++;
			return;
		});
		$(".new-arrivals-product-activation").slick("slickAdd", html);
		$(".slider-activation-one").slick("slickAdd", carouselHtml);
		sal({
			threshold: 0.3,
			once: true,
		});
	});

	// on change prod-search
	$("body").on("input", "#prod-search", function (e) {
		e.preventDefault();
		var $this = $(this);
		var value = $this.val();
		// Data
		// search in all products from index 1 and 3

		var data = allProducts.filter((product) => {
			return (
				product[1].toLowerCase().indexOf(value.toLowerCase()) > -1 ||
				product[3].toLowerCase().indexOf(value.toLowerCase()) > -1
			);
		});

		data = data.filter(
			(product, index, self) =>
				index === self.findIndex((t) => t[1] === product[1])
		);

		if(value){
			$(".search-result-header").show();
			$("#total-result-found").show().text(`${data.length} Results Found`);
			// clone #search-product-clone and replace data and append to .psearch-results
			let html = "";
			data.forEach((product) => {
				html += $("#search-product-clone")
					.html()
					.replace(/data-image="0"/g, `src="${product[0]}"`)
					.replace(/__PRODUCT_NAME__/g, product[1])
					.replace(/__PRODUCT_PRICE__/g, product[2])
				.replace(/__PRODUCT_WEBSITE_URL__/g, productUrl.replace(/_PRODUCT_NAME_/g, product[1]))
			});
			$(".psearch-results").html(html);
			if(data.length == 0){
				$(".psearch-results").html("<div class='text-center'>No product found!!</div>");
			}
		}else{
			$("#total-result-found").show().text(`0 Results Found`);
			$(".psearch-results").html("<div class='text-center'>No product found!!</div>");
		}
	});
	
	$(function () {
		var timerBox = $(".timer-box");
		var days = timerBox.find(".days");
		var hours = timerBox.find(".hours");
		var minutes = timerBox.find(".minutes");
		var seconds = timerBox.find(".seconds");
		var time = new Date("2022-12-31 00:00:00").getTime();
		console.log(time)
		var x = setInterval(function () {
			var now = new Date().getTime();
			var distance = time - now;
			days.text(`${Math.floor(distance / (1000 * 60 * 60 * 24))}d`);
			hours.text(`${Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60))}h`);
			minutes.text(`${Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60))}m`);
			seconds.text(`${Math.floor((distance % (1000 * 60)) / 1000)}s`);
			if (distance < 0) {
				clearInterval(x);
				days.text("0d");
				hours.text("0h");
				minutes.text("0m");
				seconds.text("0s");
			}
		}, 1000);
	})
</script>

{% endblock %}
