<!DOCTYPE html>

<head>
	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-1F994LSFMR"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());
		gtag('config', 'G-1F994LSFMR');
	</script>
</head>
{% extends "web/layouts/app.html" %}
{% block meta %}
<title>{{ product[1] }} | Forever Living</title>
<meta name="description" content="{{ product[3][:150] }}{% if len(product[3])>150 %}...{% endif %}" />
<meta name="keywords" content="{{ ', '.join(product_tags) }}" />
{% if restArea == None %}
<link rel="canonical" href="https://foreverliving-products.com/{{country}}/product/{{product[14]}}/{{name}}">
{% else %}
<link rel="canonical"
	href="https://foreverliving-products.com/{{country}}/{{restArea}}/product/{{product[14]}}/{{name}}">
{% endif %}
{% endblock %}
{% block content %}
<main class="main-wrapper">
	<!-- Start Shop Area  -->
	<div class="axil-single-product-area axil-section-gap pb--0 bg-color-white">
		<div class="single-product-thumb mb--40">
			<div class="container">
				<div class="row">
					<div class="col-lg-7 mb--40">
						<div class="row">
							<div class="col-lg-10 order-lg-2">
								<div class="single-product-thumbnail-wrap zoom-gallery">
									<div class="single-product-thumbnail product-large-thumbnail-3 axil-product">
										<div class="thumbnail">
											<img src="{{ product[9] }}" alt="Product Images" />
										</div>
										{% if str(product[15]) == "nan" or str(product[15]) == "" %}
										{% else %}
										<div class="thumbnail">
											<iframe width="100%" height="612px" src="{{product[15]}}"
												title="Demo Background Sample Video" frameborder="0"
												class="vimeo-iframe"
												allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
												allowfullscreen></iframe>
										</div>
										{% endif %}
									</div>
								</div>
							</div>
							<div class="col-lg-2 order-lg-1">
								<div class="product-small-thumb-3 small-thumb-wrapper">
									<div class="small-thumb-img">
										<img src="{{ product[9] }}" alt="thumb image" />
									</div>
									{% if str(product[15]) == "nan" or str(product[15]) == "" %}
									{% else %}
									<div class="small-thumb-img video-thumbnail">
										<img src="" data-vimeo-href="{{product[15]}}" alt="thumb image" />
									</div>
									{% endif %}
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-5 mb--40">
						<div class="single-product-content">
							<div class="inner">
								<h5 class="item-no">{{ product[2] }}</h5>
								<h2 class="product-title mb-2">{{ product[1] }}</h2>
								<div class="product-rating">
									<div class="star-rating" data-rating="{{ product[12] }}"></div>
									<div class="reSee-link">
										{{ product[12] }} ({{ product[11] }})
									</div>
								</div>

								<p class="description mb-0">{{ product[3] }}</p>

								{% if product[8] == "" %} {% else %}
								<hr class="my-5" />
								<p class="description mb-0"><b>Usage:</b> {{ product[8] }}</p>
								{% endif %}

								<hr class="my-5" />

								<span class="price-amount mb-5">{{ product[4] }} {% if product[5] == "" %} {% else %}
									<small style="font-size: 16px; color: #7b7b7b; font-weight: normal">for {{
										product[5] }}</small>
									<p style="font-size: 10px; opacity: 0.7">
										*Price & Stock are subject to change anytime
									</p>
									{% endif %}
								</span>
								<!-- Start Product Action Wrapper  -->
								<div class="product-action-wrapper d-flex-center w-50">
									<!-- Start Product Action  -->
									<ul class="product-action d-flex-center mb--0">
										<li class="add-to-cart m-0">
											<a href="{{ product[10] }}" target="_blank" class="axil-btn btn-bg-primary">
												Buy Now
											</a>
										</li>
									</ul>
									<!-- End Product Action  -->
								</div>
								<!-- End Product Action Wrapper  -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End .single-product-thumb -->
	</div>
	<div class="container">
		<div class="product-detail-section">
			<h4>Description</h4>
			<p>{{ product[7] }}</p>
		</div>
		<hr class="my-5 w-50" />
		<div class="product-detail-section">
			<h4>Ingredients</h4>
			<p>{{ product[13] }}</p>
			<ul class="ingredients mt-3">
				{% for tag in product_tags %}
				<li><span>{{ tag }}</span></li>
				{% endfor %}
			</ul>
		</div>
	</div>
	<!-- Start Recently Seeed Product Area  -->
	<div class="axil-product-area bg-color-white axil-section-gap pb--50 pb_sm--30">
		<div class="container">
			<div class="section-title-wrapper">
				<span class="title-highlighter highlighter-primary"><i class="far fa-shopping-basket"></i>Same
					Category</span>
				<h2 class="title">Similar Products</h2>
			</div>
			<div class="row row--15">
				{% for product in productsGroupByCategory[product_category][:4] %}
				<div class="col-xl-3 col-lg-4 col-sm-6">
					<div class="axil-product product-style-one has-color-pick mt--40">
						<div class="thumbnail">
							<a
								href="{{ url_for('productDetails', country=country, restArea=restArea, name=product[13], category=product_category.replace(' ','-')) }}">
								<img src="{{ product[0] }}" alt="Product Images" />
							</a>
							<div class="product-hover-action">
								<ul class="cart-action">
									<li class="select-option">
										<a href="{{ product[9] }}" target="_blank">Buy Now</a>
									</li>
									<li class="select-option">
										<a class="btn-default"
											href="{{ url_for('productDetails', country=country, restArea=restArea, name=product[13], category=product_category.replace(' ','-')) }}">See
											Details</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="product-content">
							<div class="inner text-center">
								<h5 class="title">
									<a
										href="{{ url_for('productDetails', country=country, restArea=restArea, name=product[13], category=product_category.replace(' ','-')) }}">{{
										product[1] }}</a>
								</h5>
								<div class="product-price-variant">
									<span class="price current-price">{{ product[2] }}</span>
								</div>
								<h6 class="description my-1">{{ product[11] }}</h6>
								<p style="font-size: 10px; opacity: 0.7">
									*Price & Stock are subject to change anytime
								</p>
							</div>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
			<div class="row">
				<div class="col-lg-12 text-center mt--20 mt_sm--0">
					<a href="{{ url_for('shop', country=country, restArea=restArea) }}"
						class="axil-btn btn-bg-lighter btn-load-more">See All Products</a>
				</div>
			</div>
		</div>
	</div>
	<!-- End Recently Seeed Product Area  -->
	<!-- Start Axil Newsletter Area  -->
	<div class="axil-newsletter-area axil-section-gap pt--0">
		<div class="container">
			<div class="etrade-newsletter-wrapper bg_image bg_image--12">
				<div class="newsletter-content">
					<span class="title-highlighter highlighter-primary2"><i
							class="fas fa-envelope-open"></i>Newsletter</span>
					<h2 class="title mb--40 mb_sm--30 text-white">Get weekly update</h2>
					<div class="input-group newsletter-form">
						<div class="position-relative newsletter-inner mb--15">
							<input placeholder="example@gmail.com" type="text" />
						</div>
						<button type="submit" class="axil-btn mb--15">Subscribe</button>
					</div>
				</div>
			</div>
		</div>
		<!-- End .container -->
	</div>
	<!-- End Axil Newsletter Area  -->
</main>

{% endblock %} {% block scripts %}
<script>
	$(".star-rating").each(function () {
		var rating = $(this).data("rating");
		var starRating = "";
		for (var i = 1; i <= 5; i++) {
			if (i <= rating) {
				starRating += '<i class="fas fa-star"></i>';
			} else if (i === Math.ceil(rating) && !Number.isInteger(rating)) {
				starRating += '<i class="fas fa-star-half-alt"></i>';
			} else {
				starRating += '<i class="far fa-star"></i>';
			}
		}
		$(this).html(starRating);
	});

	$("[data-vimeo-href]").each(function () {
		var $this = $(this);
		var url = $this.data("vimeo-href");
		// extract id from url
		var id = url.match(/(\d+)/)[0];

		var url = `http://vimeo.com/api/v2/video/${id}.json`;
		$.get(url, function (data) {
			$this.attr("src", data[0].thumbnail_medium);
		});
	});

	// on click .small-thumb-img stop iframe video which is playing
	$(".small-thumb-img:not(.video-thumbnail)").on("click", function () {
		var $this = $(this);
		var $iframe = $this.closest(".single-product-thumb").find("iframe");
		setTimeout(function () {
			$iframe.attr("src", $iframe.attr("src"));
		}, 250);
	});
</script>
{% endblock %}