<header class="main-header">
	<!-- Logo -->
	<a href="{{ url_for('adminDashboard', name=name, password=password) }}" class="logo">
		<img src="{{ url_for('static', filename='web-assets/images/logo.png') }}" height="40px" alt="logo" />
		<b>Forever Living</b>
	</a>
	<!-- Header Navbar: style can be found in header.less -->
	<nav class="navbar navbar-static-top" role="navigation">
		<!-- Sidebar toggle button-->
		<a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
			<span class="sr-only">Toggle navigation</span>
		</a>
		<div class="navbar-custom-menu">
			<ul class="nav navbar-nav">
				<!-- User Account: style can be found in dropdown.less -->
				<li class="dropdown user user-menu">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<img
							src="{{ url_for('static', filename='admin-assets/dist/img/user2-160x160.jpg') }}"
							class="user-image"
							alt="User Image"
						/>
						<span class="hidden-xs">Kapil Sanga</span>
					</a>
					<ul class="dropdown-menu">
						<!-- User image -->
						<li class="user-header">
							<img
								src="{{ url_for('static', filename='admin-assets/dist/img/user2-160x160.jpg') }}"
								class="img-circle"
								alt="User Image"
							/>
							<p class="mb-2">
								Kapil Sanga - Independent Distributor
								<small>Since Jan 2011</small>
							</p>
						</li>
						<!-- Menu Footer-->
						<li class="user-footer">
							<a href="#" class="btn btn-default btn-flat">Sign out</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</nav>
</header>
