<!-- Start Footer Area  -->
<footer class="axil-footer-area footer-style-2">
	<!-- Start Copyright Area  -->
	<div class="copyright-area copyright-default separator-top">
		<div class="container pb-4">
			<div class="row align-items-start">
				<div class="col-xl-6 col-lg-12">
					<div class="col-xl-12 text-center text-md-left">
						<p>
							<b>Registered FBO Address</b>: 200 Captains Row Chelsea,
							Massachusetts, USA 02150
						</p>
					</div>
					<div class="col-xl-12 copyright-left">
						<p><b>Copyright 2022</b>: foreverliving-products.com</p>
					</div>
					<div class="col-xl-12 copyright-left">
						<p><b>FBO ID:</b> 200002416566 (Kapil Singla)</p>
					</div>
					<div class="col-xl-12 copyright-left d-block d-md-none">
						<hr style="margin: 15px 0; border-color: #f6f7fb" />
					</div>
				</div>
				<div class="col-xl-3 col-lg-12">
					<div class="copyright-left">
						<div class="col-xl-12">
							<a
								href="https://foreverliving.com/{{footer_country_code}}/en-us/business-opportunity-faq"
								>Business Opportunity FAQs</a
							>
						</div>
						<!-- <div class="col-xl-12">
							<a href="https://joinnow.foreverliving.com/income-disclosure"
								>Income Disclosure Statement</a
							>
						</div> -->
						<div class="col-xl-12">
							<a
								href="https://foreverliving.com/{{footer_country_code}}/en-us/forever-living-faq"
								>Retail FAQs</a
							>
						</div>
						<!-- <div class="col-xl-12">
							<a
								href="https://cdn.foreverliving.com/content/MarketingConfigurableContent/CAN/Updated%20Privacy%20Policy%20/2023-01-01%20-%20Privacy%20Notice%20-%20FNL.pdf"
								>Privacy Notice</a
							>
						</div> -->
						<div class="col-xl-12">
							<a
								href="https://cdn.foreverliving.com/content/MarketingConfigurableContent/USA/Policy%20/20221201%20NA_Co_Policy_E%20Titan%20FINAL.pdf"
								>Company Policies and Procedures</a
							>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-lg-12">
					<div class="copyright-left">
						<div class="col-xl-12 copyright-left">
							<p>
								<b class="d-block">Forever Living Customer Care:</b>
								<a href="tel:{{offer_links[footer_country_code]['phone']}}"
									>{{offer_links[footer_country_code]['phone']}}</a
								>
							</p>
						</div>
						<div class="social-share mt-1">
							<a href="https://www.facebook.com/foreverglobalhq"
								><i class="fab fa-facebook-f"></i
							></a>
							<a href="https://www.instagram.com/ForeverGlobalHQ/"
								><i class="fab fa-instagram"></i
							></a>
							<a href="https://twitter.com/ForeverGlobalHQ"
								><i class="fab fa-twitter"></i
							></a>
							<a href="https://www.youtube.com/channel/UC4TVgSTQYs94N57VDsoPsWA"
								><i class="fab fa-youtube"></i
							></a>
							<a href="https://www.pinterest.com/ForeverGlobalHQ/"
								><i class="fab fa-pinterest"></i
							></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- End Copyright Area  -->
</footer>
<!-- End Footer Area  -->

<!-- Header Search Modal End -->
<div class="header-search-modal" id="header-search-modal">
	<button class="card-close sidebar-close">
		<i class="fas fa-times"></i>
	</button>
	<div class="header-search-wrap">
		<div class="card-header">
			<form action="#">
				<div class="input-group">
					<input
						type="search"
						class="form-control"
						name="prod-search"
						id="prod-search"
						placeholder="Search your product here"
					/>
					<button type="submit" class="axil-btn btn-bg-primary">
						f
						<i class="far fa-search"></i>
					</button>
				</div>
			</form>
		</div>
		<div class="card-body">
			<div class="search-result-header">
				<h6 class="title" id="total-result-found">Result Found</h6>
			</div>
			<div class="psearch-results">
				<div class="text-center">No product found!!</div>
			</div>
		</div>
	</div>
</div>
<!-- Header Search Modal End -->

<!-- Product Search Filter clone -->
<div id="search-product-clone" style="display: none">
	<div class="axil-product-list search-product-item">
		<div class="thumbnail">
			<a>
				<img
					style="
						width: 120px;
						height: 120px;
						object-fit: cover;
						object-position: center;
					"
					data-image="0"
				/>
			</a>
		</div>
		<div class="product-content">
			<h6 class="product-title">
				<a href="">__PRODUCT_NAME__</a>
			</h6>
			<div class="product-price-variant">
				<span class="price current-price">__PRODUCT_PRICE__</span>
			</div>
			<div class="product-cart">
				<ul class="cart-action">
					<li class="select-option">
						<a href="__PRODUCT_EXTERNAL_URL__" target="_blank">Buy Now</a>
					</li>
					<li class="select-option">
						<a href="__PRODUCT_WEBSITE_URL__" class="default">See Details</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<!-- jQuery JS -->
<script src="{{ url_for('static', filename='web-assets/js/vendor/jquery.js') }}"></script>
<!-- Bootstrap JS -->
<script src="{{ url_for('static', filename='web-assets/js/vendor/popper.min.js') }}"></script>
<script src="{{ url_for('static', filename='web-assets/js/vendor/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='web-assets/js/vendor/slick.min.js') }}"></script>
<script src="{{ url_for('static', filename='web-assets/js/vendor/jquery-ui.min.js') }}"></script>
<script src="{{ url_for('static', filename='web-assets/js/vendor/jquery.easy-autocomplete.min.js') }}"></script>

<!-- Main JS -->
<script src="{{ url_for('static', filename='web-assets/js/main.js') }}?v=1.3"></script>

<script>

	// on change prod-search
	const allProducts = {{ productsGroupByCategory['All Products']|tojson|safe }};
	var dummyProductUrl = "{{ url_for('productDetails', country=country, restArea=restArea, name='_PRODUCT_NAME_', category='All Products') }}"
	$(function  () {
		$('.page-loader').fadeOut('fast');
	})

	 function googleTranslateElementInit() {
		new google.translate.TranslateElement({
			pageLanguage: 'en',
			autoDisplay: 'true',
			includedLanguages:'en,zh,hi,es,fr,ar,bn,ru,pt,id,ur,de,ja,sw,mr,te,tr,ta,pa,ko,vi,ha,jv,it,th,gu,kn,fa,pl,fil,ps,uk,yo,ml,or,my,om,uz,ro,sd,tl',
			layout: google.translate.TranslateElement.InlineLayout.HORIZONTAL
		}, 'google_translate_element');
	}

	function navbarActive(url) {
		$(".mainmenu a[href='" + url + "']").addClass("active");
	}

	$(function () {
		navbarActive(window.location.pathname);
	});

	var country = "{{ country }}" ?? "unitedstates";
	var restArea = "{{ restArea }}" !== "None" ? "{{ restArea }}" : "";
	var locations = {{ localities|tojson|safe }};
	var url = window.location.pathname === "/" ? "/" : window.location.pathname;
	if (url.includes(country)) {
		url = url.replace(`/${country}`, "");
	}
	if (url.includes(restArea)) {
		url = url.replace(`/${restArea}`, "");
	}

	locations = locations.map((location) => {
		var locationURL = location.replace(/, /g, "-").replace(/ /g, '');
		return {
			name: location,
			url: `/${country}/${locationURL}/${url}`,
		};
	});

	$("body").on("input", "#prod-search", function (e) {
		e.preventDefault();
		var $this = $(this);
		var value = $this.val();
		// Data
		// search in all products from index 1 and 3

		var data = allProducts.filter((product) => {
			return (
				product[1].toLowerCase().indexOf(value.toLowerCase()) > -1 ||
				product[3].toLowerCase().indexOf(value.toLowerCase()) > -1 ||
				product[10].replace(/item# /g, '').toLowerCase().indexOf(value.toLowerCase()) > -1
			);
		});

		data = data.filter(
			(product, index, self) =>
				index === self.findIndex((t) => t[1] === product[1])
		);

		if(value.trim()){
			$(".search-result-header").show();
			$("#total-result-found").show().text(`${data.length} Results Found`);
			let html = "";
			data.forEach((product) => {
				html += $("#search-product-clone")
					.html()
					.replace(/data-image="0"/g, `src="${product[0]}"`)
					.replace(/__PRODUCT_NAME__/g, product[1])
					.replace(/__PRODUCT_PRICE__/g, product[2])
					.replace(/__PRODUCT_EXTERNAL_URL__/g, product[9])
				.replace(/__PRODUCT_WEBSITE_URL__/g, dummyProductUrl.replace(/_PRODUCT_NAME_/g, product[13]))
			});
			$(".psearch-results").html(html);
			if(data.length == 0){
				$(".psearch-results").html("<div class='text-center'>No product found!!</div>");
			}
		}else{
			$("#total-result-found").show().text(`0 Results Found`);
			$(".psearch-results").html("<div class='text-center'>No product found!!</div>");
		}
	});



	$("#search-area").easyAutocomplete({
		data: locations,
		getValue: "name",
		theme: "square",
		cssClasses: "search-area-container",
		list: {
			maxNumberOfElements: 1000,
			match: {
				enabled: true,
			},
			onClickEvent: function () {
				var data = $("#search-area").getSelectedItemData();
				$("#search-area").val(data.name).trigger("change");
				window.location.href = data.url;
			},
			onShowListEvent: function () {
				$(".easy-autocomplete-container").addClass("border");
			},
			onHideListEvent: function () {
				$(".easy-autocomplete-container").removeClass("border");
			},
		},
	});

	// on change select-country
	$("#select-country").change(function () {
		var country = $(this).val();
		window.location.href = "/" + country + "/"+url;
	});

	$("#select-country").val(country ?? "");

	var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
	(function(){
		var s1=document.createElement("script"), s0=document.getElementsByTagName("script")[0];
		s1.async=true;
		s1.src='https://embed.tawk.to/6391384adaff0e1306db746e/1gjnk7omv';
		s1.charset='UTF-8';
		s1.setAttribute('crossorigin','*');
		s0.parentNode.insertBefore(s1,s0);
		window.Tawk_API.customStyle = {
			zIndex : 1
		};
	})();


	// on click .select-box
	$("body").on("click", ".select-box .show-value", function (e) {
		e.preventDefault();
		var $this = $(this);
		var $selectBox = $this.closest(".select-box");
		$selectBox.toggleClass("open");
	});

	// on click .select-box
	$("body").on("click", ".select-box .select-item", function (e) {
		e.preventDefault();
		var $this = $(this);
		var $selectBox = $this.closest(".select-box");
		$selectBox.toggleClass("open");
		var val = $this.attr("value");
		$this.addClass("selected").siblings().removeClass("selected");
		$selectBox.find('.show-value').html($this.html())
		window.location.href = "/" + val + "/"+url;
	});

	if(country){
		$('.select-item[value="'+country+'"]').addClass('selected').siblings().removeClass('selected');
		$('.select-box .show-value').html($('.select-item[value="'+country+'"]').html())
	}

	// outside click of select-box
	$(document).on("click", function (e) {
		var $target = $(e.target);
		if (!$target.closest(".select-box").length) {
			$(".select-box").removeClass("open");
		}
	});

	$('body').on('click', 'button[href]', function () {
		var $this = $(this);
		var href = $this.attr('href');
		window.location.href = href;
	})


	$(function () {
		var timerBox = $(".timer-box-date");
		var days = $("[data-date='days']");
		var hours = $("[data-date='hours']");
		var minutes = $("[data-date='minutes']");
		var seconds = $("[data-date='seconds']");

		var date = timerBox.attr("data-time");
		var time = new Date(date).getTime();
		var x = setInterval(function () {
			var now = new Date().getTime();
			var distance = time - now;
			days.text(`${Math.floor(distance / (1000 * 60 * 60 * 24))}`);
			hours.text(`${Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60))}`);
			minutes.text(`${Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60))}`);
			seconds.text(`${Math.floor((distance % (1000 * 60)) / 1000)}`);
			if (distance < 0) {
				clearInterval(x);
				days.text("0");
				hours.text("0");
				minutes.text("0");
				seconds.text("0");
			}
		}, 1000);
	})
</script>
<!--For google translate-->
<script
	type="text/javascript"
	src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"
></script>
