{% include "web/includes/_head_assets.html" %}

<div class="page-loader">
	<div class="lds-ellipsis">
		<div></div>
		<div></div>
		<div></div>
		<div></div>
	</div>
</div>
<!-- Header -->
<!--[if lte IE 9]>
	<p class="browserupgrade">
		You are using an <strong>outdated</strong> browser. Please
		<a href="https://browsehappy.com/">upgrade your browser</a> to improve your
		experience and security.
	</p>
<![endif]-->
<!-- Start Header -->
<header class="header axil-header header-style-2">
	<div class="axil-header-top pb-0">
		{% if offer_cards['discount']['v'+title_country[country]] == 1 %}
		<div
			class="timer-box-date"
			data-time="{{offer_cards['discount']['validUntil']}}"
		></div>
		<div class="header-top-campaign">
			<div class="container position-relative">
				<div class="campaign-content">
					<div class="campaign-countdown">
						<div class="countdown-section">
							<div>
								<div class="countdown-number" data-date="days">0</div>
								<div class="countdown-unit">d</div>
							</div>
						</div>
						<div class="countdown-section">
							<div>
								<div class="countdown-number" data-date="hours">0</div>
								<div class="countdown-unit">h</div>
							</div>
						</div>
						<div class="countdown-section">
							<div>
								<div class="countdown-number" data-date="minutes">0</div>
								<div class="countdown-unit">m</div>
							</div>
						</div>
						<div class="countdown-section">
							<div>
								<div class="countdown-number" data-date="seconds">0</div>
								<div class="countdown-unit">s</div>
							</div>
						</div>
					</div>
					<p style="color: white">
						Avail a special discount of {{offer_cards['discount']['discount']}}%
						off for limited time.
						<br class="d-md-none d-block" /><a
							href="{{ offer_cards['discount']['l'+title_country[country]] }}"
							>Get Your Offer</a
						>
					</p>
				</div>
			</div>
		</div>
		{% endif %} {% include "web/includes/_top_bar.html" %}
		<div class="header-navbar bg-white pt-md-4 pb-md-4">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-2 col-sm-3 col-3">
						<div class="header-brand">
							<a
								href="{{ url_for('index', restArea=restArea, country=country) }}"
								class="nav-title"
							>
								<img
									src="{{ url_for('static', filename='web-assets/images/logo.png') }}"
									alt="mainmenu-navbar-logo"
									width="60"
									height="60"
								/>
							</a>
							<a
								href="{{ url_for('index', restArea=restArea, country=country) }}"
								class="logo logo-light"
							>
								<img
									src="{{ url_for('static', filename='web-assets/images/logo.png') }}"
									alt="mainmenu-navbar-logo-2"
									width="60"
									height="60"
								/>
							</a>
						</div>
					</div>
					<div class="col-lg-10 col-sm-9 col-9 d-flex">
						<div class="header-top-dropdown dropdown-box-style" style="flex: 1">
							<div class="axil-search search-bar mr-0">
								<button type="submit" class="icon wooc-btn-search">
									<i class="far fa-search"></i>
								</button>
								<input
									type="search"
									class="placeholder product-search-input"
									readonly
									value=""
									maxlength="128"
									placeholder="What are you looking for...."
									autocomplete="off"
								/>
							</div>
						</div>

						<ul class="action-list">
							<li class="axil-mobile-toggle">
								<button class="menu-btn mobile-nav-toggler">
									<i class="flaticon-menu-2"></i>
								</button>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="axil-sticky-placeholder"></div>
	<!-- Start Mainmenu Area  -->
	<div class="axil-mainmenu aside-category-menu">
		<div class="header-navbar bg-white pt-md-4 pb-md-4 d-none">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-2 col-sm-3 col-3">
						<div class="header-brand">
							<a
								href="{{ url_for('index', restArea=restArea, country=country) }}"
								class="nav-title"
							>
								<img
									src="{{ url_for('static', filename='web-assets/images/logo.png') }}"
									alt="mainmenu-navbar-logo"
									width="60"
									height="60"
								/>
							</a>
							<a
								href="{{ url_for('index', restArea=restArea, country=country) }}"
								class="logo logo-light"
							>
								<img
									src="{{ url_for('static', filename='web-assets/images/logo.png') }}"
									alt="mainmenu-navbar-logo-2"
									width="60"
									height="60"
								/>
							</a>
						</div>
					</div>
					<div class="col-lg-10 col-sm-9 col-9 d-flex">
						<div class="header-top-dropdown dropdown-box-style" style="flex: 1">
							<div class="axil-search search-bar mr-0">
								<button type="submit" class="icon wooc-btn-search">
									<i class="far fa-search"></i>
								</button>
								<input
									type="search"
									class="placeholder product-search-input"
									readonly
									value=""
									maxlength="128"
									placeholder="What are you looking for...."
									autocomplete="off"
								/>
							</div>
						</div>

						<ul class="action-list">
							<li class="axil-mobile-toggle">
								<button class="menu-btn mobile-nav-toggler">
									<i class="flaticon-menu-2"></i>
								</button>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="header-navbar">
				<div class="header-nav-department">
					<aside class="header-department">
						<button class="header-department-text department-title">
							<span class="icon"><i class="fal fa-bars"></i></span>
							<span class="text">Categories</span>
						</button>
						{% include "web/includes/_categories_sidebar.html" %}
					</aside>
				</div>
				<div class="header-main-nav">
					<!-- Start Mainmanu Nav -->
					<nav class="mainmenu-nav">
						<button class="mobile-close-btn mobile-nav-toggler">
							<i class="fas fa-times"></i>
						</button>
						<div class="mobile-nav-brand">
							<a
								href="{{ url_for('index', restArea=restArea, country=country) }}"
								class="logo"
							>
								<img
									src="{{ url_for('static', filename='web-assets/images/logo.png') }}"
									alt="mobile-mainmenu-navbar-logo"
									width="60"
									height="60"
								/>
							</a>
						</div>
						<div
							class="d-flex w-100 justify-content-between align-items-center mobile-nav-body"
						>
							<ul class="mainmenu">
								<li>
									<a
										href="{{ url_for('index', restArea=restArea, country=country) }}"
										>Home</a
									>
								</li>
								<li>
									<a
										href="{{ url_for('country', restArea=restArea, country=country) }}"
										>Shop</a
									>
								</li>
								<li>
									<a
										href="{{ url_for('shop', restArea=restArea, country=country) }}"
										>All Products</a
									>
								</li>
								<li>
									<a
										href="{{ url_for('blogs', restArea=restArea, country=country) }}"
										>Blogs</a
									>
								</li>
							</ul>
							<div class="profile-details">
								<div class="inner">
									<h5 style="font-size: large">Kapil Singla</h5>
									<h6 style="font-size: medium">FBO ID: 200002416566</h6>
									<div class="popover-details-wrapper">
										<div class="popover-details">
											<h6>Independent Distributor Since Jan 2011</h6>
											<a href="mailto:yourflpdistributor@gmail.com"
												>yourflpdistributor@gmail.com</a
											>
										</div>
									</div>
								</div>
								<div class="dummy-profile-image">
									<img
										src="{{ url_for('static', filename='web-assets/images/about/profile.png') }}"
										style="border-radius: 100%"
									/>
								</div>
							</div>
							<div class="mainmenu-nav-title fadeInDown w-100">
								<div class="d-flex align-items-center">
									<div class="axil-search search-bar mr-0">
										<button type="submit" class="icon wooc-btn-search">
											<i class="far fa-search"></i>
										</button>
										<input
											type="search"
											class="placeholder product-search-input"
											readonly
											value=""
											maxlength="128"
											placeholder="What are you looking for...."
											autocomplete="off"
										/>
									</div>
								</div>
							</div>
						</div>
					</nav>
					<!-- End Mainmanu Nav -->
				</div>
			</div>
		</div>
	</div>
	<!-- End Mainmenu Area  -->
</header>
