
		<!-- Favicon -->
		<link
			rel="shortcut icon"
			type="image/x-icon"
			href="{{ url_for('static', filename='web-assets/images/favicon.png') }}"
		/>

		<!-- CSS
============================================ -->

		<!-- Bootstrap CSS -->
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='web-assets/css/vendor/bootstrap.min.css') }}"
		/>
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='web-assets/css/vendor/font-awesome.css') }}"
		/>
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='web-assets/css/vendor/flaticon/flaticon.css') }}"
		/>
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='web-assets/css/vendor/slick.css') }}"
		/>
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='web-assets/css/vendor/slick-theme.css') }}"
		/>
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='web-assets/css/vendor/jquery-ui.min.css') }}"
		/>
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='web-assets/css/vendor/sal.css') }}"
		/>
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='web-assets/css/vendor/magnific-popup.css') }}"
		/>
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='web-assets/css/vendor/base.css') }}"
		/>
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='web-assets/css/style.min.css') }}?v=2.0"
		/>
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='web-assets/css/vendor/easy-autocomplete.css') }}?v=1.1"
		/>
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='web-assets/css/vendor/easy-autocomplete.themes.min.css') }}?v=1.1"
		/>
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='web-assets/css/custom.min.css') }}?v=2.2"
		/>
	</head>

	<body class="sticky-header">
		<div class="floating-btn">
			{% if offer_cards['join']['v'+flag_data[0].replace(' ','')] == 1 %}
				<div>
					<a href="{{ offer_cards['join']['l'+flag_data[0].replace(' ','')] }}">Join & Save 5%</a>
				</div>
			{% endif %}
			{% if offer_cards['discount']['v'+flag_data[0].replace(' ','')] == 1 %}
				<div>
					<a href="{{ offer_cards['discount']['l'+flag_data[0].replace(' ','')] }}">Discount {{offer_cards['discount']['discount']}}%</a>
				</div>
			{% endif %}
		</div>
