<nav class="department-nav-menu">
    <button class="sidebar-close">
        <i class="fas fa-times"></i>
    </button>
    <ul class="nav-menu-list">
        <li>
            <a href="#" class="nav-link">
                <span class="menu-icon"
                    ><img
                        src="{{ url_for('static',
                    filename='images/product/categories/cat-04.png') }}"
                        alt="Department"
                /></span>
                <span class="menu-text">Medicine</span>
            </a>
        </li>
        <li>
            <a href="#" class="nav-link">
                <span class="menu-icon"
                    ><img
                        src="{{ url_for('static',
                    filename='images/product/categories/cat-05.png') }}"
                        alt="Department"
                /></span>
                <span class="menu-text">Furniture</span>
            </a>
        </li>
        <li>
            <a href="#" class="nav-link">
                <span class="menu-icon"
                    ><img
                        src="{{ url_for('static',
                    filename='images/product/categories/cat-06.png') }}"
                        alt="Department"
                /></span>
                <span class="menu-text">Crafts</span>
            </a>
        </li>
        <li>
            <a href="#" class="nav-link">
                <span class="menu-icon"
                    ><img
                        src="{{ url_for('static',
                    filename='images/product/categories/cat-07.png') }}"
                        alt="Department"
                /></span>
                <span class="menu-text">Accessories</span>
            </a>
        </li>
        <li>
            <a href="#" class="nav-link">
                <span class="menu-icon"
                    ><img
                        src="{{ url_for('static',
                    filename='images/product/categories/cat-08.png') }}"
                        alt="Department"
                /></span>
                <span class="menu-text">Camera</span>
            </a>
        </li>
    </ul>
</nav>