<!-- Start Footer Area  -->
<footer class="axil-footer-area footer-style-2">
	<!-- Start Copyright Area  -->
	<div class="copyright-area copyright-default separator-top">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-xl-6 col-lg-12">
					<div class="social-share">
						<p>
							<b>Registered Address</b>: 200 Captains Row Chelsea,
							Massachusetts, USA 02150
						</p>
					</div>
				</div>
				<div class="col-xl-6 col-lg-12">
					<div class="copyright-left">
						<p style="text-align: right">
							Copyright 2022 foreverliving-products.com
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Copyright Area  -->
</footer>
<!-- End Footer Area  -->

<!-- Product Quick View Modal Start -->
<div
	class="modal fade quick-view-product"
	id="quick-view-modal"
	tabindex="-1"
	aria-hidden="true"
>
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<button
					type="button"
					class="btn-close"
					data-bs-dismiss="modal"
					aria-label="Close"
				>
					<i class="far fa-times"></i>
				</button>
			</div>
			<div class="modal-body">
				<div class="single-product-thumb">
					<div class="row">
						<div class="col-lg-7 mb--40">
							<div class="row">
								<div class="col-lg-10 order-lg-2">
									<div
										class="single-product-thumbnail product-large-thumbnail axil-product thumbnail-badge zoom-gallery"
									>
										<div class="thumbnail">
											<img
												src="{{ url_for('static', filename='images/product/product-big-01.png') }}"
												alt="Product Images"
											/>
											<div class="label-block label-right">
												<div class="product-badget">20% OFF</div>
											</div>
											<div class="product-quick-view position-view">
												<a
													href="{{ url_for('static', filename='images/product/product-big-01.png') }}"
													class="popup-zoom"
												>
													<i class="far fa-search-plus"></i>
												</a>
											</div>
										</div>
										<div class="thumbnail">
											<img
												src="{{ url_for('static', filename='images/product/product-big-02.png') }}"
												alt="Product Images"
											/>
											<div class="label-block label-right">
												<div class="product-badget">20% OFF</div>
											</div>
											<div class="product-quick-view position-view">
												<a
													href="{{ url_for('static', filename='images/product/product-big-02.png') }}"
													class="popup-zoom"
												>
													<i class="far fa-search-plus"></i>
												</a>
											</div>
										</div>
										<div class="thumbnail">
											<img
												src="{{ url_for('static', filename='images/product/product-big-03.png') }}"
												alt="Product Images"
											/>
											<div class="label-block label-right">
												<div class="product-badget">20% OFF</div>
											</div>
											<div class="product-quick-view position-view">
												<a
													href="{{ url_for('static', filename='images/product/product-big-03.png') }}"
													class="popup-zoom"
												>
													<i class="far fa-search-plus"></i>
												</a>
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-2 order-lg-1">
									<div class="product-small-thumb small-thumb-wrapper">
										<div class="small-thumb-img">
											<img
												src="{{ url_for('static', filename='images/product/product-thumb/thumb-08.png') }}"
												alt="thumb image"
											/>
										</div>
										<div class="small-thumb-img">
											<img
												src="{{ url_for('static', filename='images/product/product-thumb/thumb-07.png') }}"
												alt="thumb image"
											/>
										</div>
										<div class="small-thumb-img">
											<img
												src="{{ url_for('static', filename='images/product/product-thumb/thumb-09.png') }}"
												alt="thumb image"
											/>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-5 mb--40">
							<div class="single-product-content">
								<div class="inner">
									<div class="product-rating">
										<div class="star-rating">
											<img
												src="{{ url_for('static', filename='images/icons/rate.png') }}"
												alt="Rate Images"
											/>
										</div>
										<div class="review-link">
											<a href="#">(<span>1</span> customer reviews)</a>
										</div>
									</div>
									<h3 class="product-title">Serif Coffee Table</h3>
									<span class="price-amount">$155.00 - $255.00</span>
									<ul class="product-meta">
										<li><i class="fal fa-check"></i>In stock</li>
										<li><i class="fal fa-check"></i>Free delivery available</li>
										<li>
											<i class="fal fa-check"></i>Sales 30% Off Use Code:
											MOTIVE30
										</li>
									</ul>
									<p class="description">
										In ornare lorem ut est dapibus, ut tincidunt nisi pretium.
										Integer ante est, elementum eget magna. Pellentesque
										sagittis dictum libero, eu dignissim tellus.
									</p>

									<div class="product-variations-wrapper">
										<!-- Start Product Variation  -->
										<div class="product-variation">
											<h6 class="title">Colors:</h6>
											<div class="color-variant-wrapper">
												<ul class="color-variant mt--0">
													<li class="color-extra-01 active">
														<span><span class="color"></span></span>
													</li>
													<li class="color-extra-02">
														<span><span class="color"></span></span>
													</li>
													<li class="color-extra-03">
														<span><span class="color"></span></span>
													</li>
												</ul>
											</div>
										</div>
										<!-- End Product Variation  -->

										<!-- Start Product Variation  -->
										<div class="product-variation">
											<h6 class="title">Size:</h6>
											<ul class="range-variant">
												<li>xs</li>
												<li>s</li>
												<li>m</li>
												<li>l</li>
												<li>xl</li>
											</ul>
										</div>
										<!-- End Product Variation  -->
									</div>

									<!-- Start Product Action Wrapper  -->
									<div class="product-action-wrapper d-flex-center">
										<!-- Start Quentity Action  -->
										<div class="pro-qty">
											<input type="text" value="1" />
										</div>
										<!-- End Quentity Action  -->

										<!-- Start Product Action  -->
										<ul class="product-action d-flex-center mb--0">
											<li class="add-to-cart">
												<a href="cart.html" class="axil-btn btn-bg-primary"
													>Add to Cart</a
												>
											</li>
											<li class="wishlist">
												<a href="wishlist.html" class="axil-btn wishlist-btn"
													><i class="far fa-heart"></i
												></a>
											</li>
										</ul>
										<!-- End Product Action  -->
									</div>
									<!-- End Product Action Wrapper  -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Product Quick View Modal End -->

<!-- Header Search Modal End -->
<div class="header-search-modal" id="header-search-modal">
	<button class="card-close sidebar-close">
		<i class="fas fa-times"></i>
	</button>
	<div class="header-search-wrap">
		<div class="card-header">
			<form action="#">
				<div class="input-group">
					<input
						type="search"
						class="form-control"
						name="prod-search"
						id="prod-search"
						placeholder="Search your product here"
					/>
					<button type="submit" class="axil-btn btn-bg-primary">
						f
						<i class="far fa-search"></i>
					</button>
				</div>
			</form>
		</div>
		<div class="card-body">
			<div class="search-result-header">
				<h6 class="title" id="total-result-found">Result Found</h6>
			</div>
			<div class="psearch-results">
				<div class="text-center">No product found!!</div>
			</div>
		</div>
	</div>
</div>
<!-- Header Search Modal End -->

<!-- Product Search Filter clone -->
<div id="search-product-clone" style="display: none">
	<div class="axil-product-list search-product-item">
		<div class="thumbnail">
			<a>
				<img
					style="
						width: 120px;
						height: 120px;
						object-fit: cover;
						object-position: center;
					"
					data-image="0"
				/>
			</a>
		</div>
		<div class="product-content">
			<h6 class="product-title">
				<a href="">__PRODUCT_NAME__</a>
			</h6>
			<div class="product-price-variant">
				<span class="price current-price">__PRODUCT_PRICE__</span>
			</div>
			<div class="product-cart">
				<ul class="cart-action">
					<li class="select-option">
						<a href="__PRODUCT_EXTERNAL_URL__" target="_blank">Buy Now</a>
					</li>
					<li class="select-option">
						<a
							href="__PRODUCT_WEBSITE_URL__"
							>See Details</a
						>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<script src="{{ url_for('static', filename='js/vendor/modernizr.min.js') }}"></script>
<!-- jQuery JS -->
<script src="{{ url_for('static', filename='js/vendor/jquery.js') }}"></script>
<!-- Bootstrap JS -->
<script src="{{ url_for('static', filename='js/vendor/popper.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/slick.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/js.cookie.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/jquery-ui.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/jquery.countdown.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/sal.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/jquery.magnific-popup.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/imagesloaded.pkgd.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/isotope.pkgd.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/counterup.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/waypoints.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/jquery.easy-autocomplete.min.js') }}"></script>

<!-- Main JS -->
<script src="{{ url_for('static', filename='js/main.js') }}?v=1.1"></script>

<script>

	// on change prod-search
	const allProducts = {{ productsGroupByCategory['All Products']|tojson|safe }};
	var dummyProductUrl = "{{ url_for('productDetails', country=country, restArea=restArea, name='_PRODUCT_NAME_', category='All Products') }}"
	$(function  () {
		$('.page-loader').fadeOut('fast');
	})

	 function googleTranslateElementInit() {
		new google.translate.TranslateElement({
			pageLanguage: 'en',
			autoDisplay: 'true',
			includedLanguages:'en,zh,hi,es,fr,ar,bn,ru,pt,id,ur,de,ja,sw,mr,te,tr,ta,pa,ko,vi,ha,jv,it,th,gu,kn,fa,pl,fil,ps,uk,yo,ml,or,my,om,uz,ro,sd,tl',
			layout: google.translate.TranslateElement.InlineLayout.HORIZONTAL
		}, 'google_translate_element');
	}

	function navbarActive(url) {
		$(".mainmenu a[href='" + url + "']").addClass("active");
	}

	$(function () {
		navbarActive(window.location.pathname);
	});

	var country = "{{ country }}" ?? "unitedstates";
	var restArea = "{{ restArea }}" !== "None" ? "{{ restArea }}" : "";
	var locations = {{ localities|tojson|safe }};
	var url = window.location.pathname === "/" ? "home" : window.location.pathname;
	if (url.includes(country)) {
		url = url.replace(`/${country}`, "");
	}
	if (url.includes(restArea)) {
		url = url.replace(`/${restArea}`, "");
	}

	locations = locations.map((location) => {
		var locationURL = location.replace(/, /g, "-").replace(/ /g, '');
		return {
			name: location,
			url: `/${country}/${locationURL}/${url}`,
		};
	});

	$("body").on("input", "#prod-search", function (e) {
		e.preventDefault();
		var $this = $(this);
		var value = $this.val();
		// Data
		// search in all products from index 1 and 3

		var data = allProducts.filter((product) => {
			return (
				product[1].toLowerCase().indexOf(value.toLowerCase()) > -1 ||
				product[3].toLowerCase().indexOf(value.toLowerCase()) > -1 ||
				product[10].replace(/item# /g, '').toLowerCase().indexOf(value.toLowerCase()) > -1
			);
		});

		data = data.filter(
			(product, index, self) =>
				index === self.findIndex((t) => t[1] === product[1])
		);

		if(value.trim()){
			$(".search-result-header").show();
			$("#total-result-found").show().text(`${data.length} Results Found`);
			let html = "";
			data.forEach((product) => {
				html += $("#search-product-clone")
					.html()
					.replace(/data-image="0"/g, `src="${product[0]}"`)
					.replace(/__PRODUCT_NAME__/g, product[1])
					.replace(/__PRODUCT_PRICE__/g, product[2])
					.replace(/__PRODUCT_EXTERNAL_URL__/g, product[9])
				.replace(/__PRODUCT_WEBSITE_URL__/g, dummyProductUrl.replace(/_PRODUCT_NAME_/g, product[13]))
			});
			$(".psearch-results").html(html);
			if(data.length == 0){
				$(".psearch-results").html("<div class='text-center'>No product found!!</div>");
			}
		}else{
			$("#total-result-found").show().text(`0 Results Found`);
			$(".psearch-results").html("<div class='text-center'>No product found!!</div>");
		}
	});



	$("#search-area").easyAutocomplete({
		data: locations,
		getValue: "name",
		theme: "square",
		cssClasses: "search-area-container",
		list: {
			maxNumberOfElements: 1000,
			match: {
				enabled: true,
			},
			onClickEvent: function () {
				var data = $("#search-area").getSelectedItemData();
				$("#search-area").val(data.name).trigger("change");
				window.location.href = data.url;
			},
			onShowListEvent: function () {
				$(".easy-autocomplete-container").addClass("border");
			},
			onHideListEvent: function () {
				$(".easy-autocomplete-container").removeClass("border");
			},
		},
	});

	// on change select-country
	$("#select-country").change(function () {
		var country = $(this).val();
		window.location.href = "/" + country + "/"+url;
	});

	$("#select-country").val(country ?? "");

	var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
	(function(){
		var s1=document.createElement("script"), s0=document.getElementsByTagName("script")[0];
		s1.async=true;
		s1.src='https://embed.tawk.to/6391384adaff0e1306db746e/1gjnk7omv';
		s1.charset='UTF-8';
		s1.setAttribute('crossorigin','*');
		s0.parentNode.insertBefore(s1,s0);
		window.Tawk_API.customStyle = {
			zIndex : 1
		};
	})();


	// on click .select-box
	$("body").on("click", ".select-box .show-value", function (e) {
		e.preventDefault();
		var $this = $(this);
		var $selectBox = $this.closest(".select-box");
		$selectBox.toggleClass("open");
	});

	// on click .select-box
	$("body").on("click", ".select-box .select-item", function (e) {
		e.preventDefault();
		var $this = $(this);
		var $selectBox = $this.closest(".select-box");
		$selectBox.toggleClass("open");
		var val = $this.attr("value");
		$this.addClass("selected").siblings().removeClass("selected");
		$selectBox.find('.show-value').html($this.html())
		window.location.href = "/" + val + "/"+url;
	});

	if(country){
		$('.select-item[value="'+country+'"]').addClass('selected').siblings().removeClass('selected');
		$('.select-box .show-value').html($('.select-item[value="'+country+'"]').html())
	}

	// outside click of select-box
	$(document).on("click", function (e) {
		var $target = $(e.target);
		if (!$target.closest(".select-box").length) {
			$(".select-box").removeClass("open");
		}
	});

	$('body').on('click', 'button[href]', function () {
		var $this = $(this);
		var href = $this.attr('href');
		window.location.href = href;
	})
</script>
<!--For google translate-->
<script
	type="text/javascript"
	src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"
></script>
