<div class="top-bar">
	<div class="container">
		<div class="d-flex justify-content-between">
			<div class="header-top-dropdown">
				<div class="top-header-points">
					<div class="h-select-group d-flex align-items-center">
						<select>
							<option>South Asia</option>
							<option>Korea</option>
						</select>
					</div>
				</div>
				<div class="top-header-points">
					<div class="d-flex align-items-center">
						<i class="far fa-search"></i> &nbsp;&nbsp;
						<input placeholder="Search your area..." />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
