<div class="top-bar">
	<div class="container">
		<div class="d-flex justify-content-between">
			<div class="header-top-dropdown">
				<div class="top-header-points">
					<div class="h-select-group d-flex align-items-center">
						<select id="select-country">
							<option value="unitedstates">United States</option>
							<option value="greatbritain">Great Britain</option>
							<option value="australia">Australia</option>
							<option value="canada">Canada</option>
						</select>
					</div>
				</div>
				<div class="top-header-points">
					<div class="d-flex align-items-center">
						<i class="far fa-search"></i> &nbsp;&nbsp;
						<input id="search-area" placeholder="Search your area..." />
					</div>
				</div>
			</div>
			<div class="top-header-points">
				<div class="h-select-group">
					<div id="google_translate_element"></div>
				</div>
			</div>
		</div>
	</div>
</div>
