{% extends "admin/layouts/app.html" %} {% block content %}
<div class="content-wrapper">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<h1>
			Offer Cards
			<small>Control panel</small>
		</h1>
		<ol class="breadcrumb">
			<li>
				<a href="#"><i class="fa fa-dashboard"></i> Home</a>
			</li>
			<li class="active">Offer Cards</li>
		</ol>
	</section>

	<!-- Main content -->
	<section class="content">
		<!-- Main row -->
		<div class="row">
			<!-- Left col -->
			{% include "admin/pages/sections/discount_card.html" %} {% include
			"admin/pages/sections/visit_our_store.html" %} {% include
			"admin/pages/sections/join_and_save.html" %} {% include
			"admin/pages/sections/free_shipping_card.html" %}
		</div>
		<!-- /.row (main row) -->
	</section>
	<!-- /.content -->
</div>
<!-- /.content-wrapper -->

{% endblock %} {% block scripts %}

<script>
	// on change cehckbox-to-input disable/enable input
	$("body").on("change", ".checkbox-to-input", function () {
		if ($(this).is(":checked")) {
			$(this)
				.closest(".form-group")
				.find('input[type="text"]')
				.prop("disabled", false)
		} else {
			$(this)
				.closest(".form-group")
				.find('input[type="text"]')
				.prop("disabled", true)
				.valid();
		}
	});

	// # singledatepicker
	$('[name="valid_until"]').datepicker({
		format: "dd-mm-yyyy",
		autoclose: true,
		todayHighlight: true,
	})

	$("#discount-card-form").validate({
		rules: {
			discount: {
				required: true,
			},
			valid_until: {
				required: true,
			},
			lUnitedStates: {
				required: {
					depends: function () {
						return $("[name='vUnitedStates']").is(":checked");
					},
				},
			},
			lGreatBritain: {
				required: {
					depends: function () {
						return $("[name='vGreatBritain']").is(":checked");
					},
				},
			},
			lAustralia: {
				required: {
					depends: function () {
						return $("[name='vAustralia']").is(":checked");
					},
				},
			},
			lCanada: {
				required: {
					depends: function () {
						return $("[name='vCanada']").is(":checked");
					},
				},
			},
		},
		submitHandler: function (form) {
			const data = new FormData(form);
			$.ajax({
				url: $(form).attr("action"),
				type: "POST",
				data: data,
				contentType: false,
				processData: false,
				success: function (response) {
					console.log(response);
				},
				error: function (error) {
				},
			});
		},
	})


</script>
{% endblock %}
