{% extends "admin/layouts/app.html" %} {% block content %}
<div class="content-wrapper">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<h1>
			Offer Cards
			<small>Control panel</small>
		</h1>
		<ol class="breadcrumb">
			<li>
				<a href="#"><i class="fa fa-dashboard"></i> Home</a>
			</li>
			<li class="active">Offer Cards</li>
		</ol>
	</section>

	<!-- Main content -->
	<section class="content">
		<!-- Main row -->
		<div class="row">
			<!-- Left col -->
			{% include "admin/pages/sections/discount_card.html" %} {% include
			"admin/pages/sections/visit_our_store.html" %} {% include
			"admin/pages/sections/join_and_save.html" %} {% include
			"admin/pages/sections/free_shipping_card.html" %}
		</div>
		<!-- /.row (main row) -->
	</section>
	<!-- /.content -->
</div>
<!-- /.content-wrapper -->

{% endblock %} {% block scripts %}

<script>
	// on change cehckbox-to-input disable/enable input
	$("body").on("change", ".checkbox-to-input", function () {
		if ($(this).is(":checked")) {
			$(this).closest(".form-group").find('input[type="text"]');
		} else {
			$(this).closest(".form-group").find('input[type="text"]').valid();
		}
	});

	$("#discount").on("change", function () {
		var selectedOption = $(this).val();
		switch (selectedOption) {
			case "5":
				$('[name="discount_lUnitedStates"]').val(
					"https://thealoeveraco.shop/HEYrCuwo"
				);
				$('[name="discount_lGreatBritain"]').val(
					"https://thealoeveraco.shop/ZHJSRv5m"
				);
				$('[name="discount_lAustralia"]').val(
					"https://thealoeveraco.shop/fTvVBTAm"
				);
				$('[name="discount_lCanada"]').val(
					"https://thealoeveraco.shop/m1m6hsyO"
				);
				break;
			case "10":
				$('[name="discount_lUnitedStates"]').val(
					"https://thealoeveraco.shop/QIunDW3C"
				);
				$('[name="discount_lGreatBritain"]').val(
					"https://thealoeveraco.shop/WOVGEHb8"
				);
				$('[name="discount_lAustralia"]').val(
					"https://thealoeveraco.shop/J0527gGp"
				);
				$('[name="discount_lCanada"]').val(
					"https://thealoeveraco.shop/1QLH7Eh9"
				);
				// code to execute for option "10"
				break;
			case "15":
				$('[name="discount_lUnitedStates"]').val(
					"https://thealoeveraco.shop/wbQW2rEH"
				);
				$('[name="discount_lGreatBritain"]').val(
					"https://thealoeveraco.shop/7MV6ZkIG"
				);
				$('[name="discount_lAustralia"]').val(
					"https://thealoeveraco.shop/DLolWip7"
				);
				$('[name="discount_lCanada"]').val(
					"https://thealoeveraco.shop/i2Y5dJzQ"
				);
				// code to execute for option "15"
				break;
		}
	});

	// on change checkbox-to-input
	$("body").on("click", "#onClickDiscountForm", function (e) {
		if($('[name="discount_validUntil"]').val() == ""){
			alert("Please select valid until date");
			e.preventDefault();
		}
	});

	$("body").on("change", ".checkbox-to-input", function () {
		if ($(this).is(":checked")) {
			$(this).closest(".form-group").find('input[type="text"]').prop(
				"disabled",
				false
			);
		} else {
			$(this).closest(".form-group").find('input[type="text"]').prop(
				"disabled",
				true
			);
		}
	});

	// # singledatepicker
	$('[name="discount_validUntil"]').datepicker({
		format: "yyyy-mm-dd",
		autoclose: true,
		startDate: new Date(new Date().getTime() + 24 * 60 * 60 * 1000),
	})

	function requireDepend(selector) {
		return {
			depends: function () {
				return $(selector).is(":checked");
			},
		};
	}

	$("#discount-card-form").validate({
		rules: {
			discount: {
				required: true,
			},
			valid_until: {
				required: true,
			},
			lUnitedStates: {
				required: requireDepend("[name='vUnitedStates']"),
			},
			lGreatBritain: {
				required: requireDepend("[name='vGreatBritain']"),
			},
			lAustralia: {
				required: requireDepend("[name='vAustralia']"),
			},
			lCanada: {
				required: requireDepend("[name='vCanada']"),
			},
		},
		submitHandler: function (form) {
			const data = new FormData(form);
			$.ajax({
				url: $(form).attr("action"),
				type: "POST",
				data: data,
				contentType: false,
				processData: false,
				success: function (response) {
					console.log(response);
				},
				error: function (error) {},
			});
		},
	});
</script>
{% endblock %}
