{% extends "layouts/home.html" %} {% block content %}

<main class="main-wrapper">
	<!-- Start Slider Area -->
	<div class="axil-main-slider-area main-slider-style-2">
		<div class="container">
			<div class="slider-offset-left">
				<div class="row row--20">
					<div class="col-lg-9">
						<div class="slider-box-wrap">
							<div class="slider-activation-one axil-slick-dots">
								<div class="single-slide slick-slide">
									<div class="main-slider-content">
										<span class="subtitle"
											><i class="fal fa-watch"></i> Smartwatch</span
										>
										<h1 class="title">Bloosom Smat Watch</h1>
										<div class="shop-btn">
											<a href="{{ url_for('shop') }}" class="axil-btn"
												>Shop Now <i class="fal fa-long-arrow-right"></i
											></a>
										</div>
									</div>
									<div class="main-slider-thumb">
										<img
											src="{{ url_for('static', filename='images/product/product-40.png') }}"
											alt="Product"
										/>
									</div>
								</div>
								<div class="single-slide slick-slide">
									<div class="main-slider-content">
										<span class="subtitle"
											><i class="fal fa-watch"></i> Smartwatch</span
										>
										<h1 class="title">Delux Brand Watch</h1>
										<div class="shop-btn">
											<a href="{{ url_for('shop') }}" class="axil-btn"
												>Shop Now <i class="fal fa-long-arrow-right"></i
											></a>
										</div>
									</div>
									<div class="main-slider-thumb">
										<img
											src="{{ url_for('static', filename='images/product/product-46.png') }}"
											alt="Product"
										/>
									</div>
								</div>
								<div class="single-slide slick-slide">
									<div class="main-slider-content">
										<span class="subtitle"
											><i class="fal fa-watch"></i> Smartwatch</span
										>
										<h1 class="title">Bloosom Smat Watch</h1>
										<div class="shop-btn">
											<a href="{{ url_for('shop') }}" class="axil-btn"
												>Shop Now <i class="fal fa-long-arrow-right"></i
											></a>
										</div>
									</div>
									<div class="main-slider-thumb">
										<img
											src="{{ url_for('static', filename='images/product/product-40.png') }}"
											alt="Product"
										/>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3">
						<div class="slider-product-box">
							<div class="product-thumb">
								<a href="{{ url_for('productDetails') }}">
									<img
										src="{{ url_for('static', filename='images/product/product-41.png') }}"
										alt="Product"
									/>
								</a>
							</div>
							<h6 class="title">
								<a href="{{ url_for('productDetails') }}">Yantiti Leather Bags</a>
							</h6>
							<span class="price">$29.99</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Slider Area -->

	<div class="service-area">
		<div class="container">
			<div
				class="row row-cols-xl-5 row-cols-lg-5 row-cols-md-3 row-cols-sm-2 row-cols-1 row--20"
			>
				<div class="col">
					<div class="service-box">
						<div class="icon">
							<img src="{{ url_for('static', filename='images/icons/service1.png') }}" alt="Service" />
						</div>
						<h6 class="title">Fast &amp; Secure Delivery</h6>
					</div>
				</div>
				<div class="col">
					<div class="service-box">
						<div class="icon">
							<img src="{{ url_for('static', filename='images/icons/service2.png') }}" alt="Service" />
						</div>
						<h6 class="title">100% Guarantee On Product</h6>
					</div>
				</div>
				<div class="col">
					<div class="service-box">
						<div class="icon">
							<img src="{{ url_for('static', filename='images/icons/service3.png') }}" alt="Service" />
						</div>
						<h6 class="title">24 Hour Return Policy</h6>
					</div>
				</div>
				<div class="col">
					<div class="service-box">
						<div class="icon">
							<img src="{{ url_for('static', filename='images/icons/service4.png') }}" alt="Service" />
						</div>
						<h6 class="title">24 Hour Return Policy</h6>
					</div>
				</div>
				<div class="col">
					<div class="service-box">
						<div class="icon">
							<img src="{{ url_for('static', filename='images/icons/service5.png') }}" alt="Service" />
						</div>
						<h6 class="title">Next Level Pro Quality</h6>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Start New Arrivals Product Area  -->
	<div
		class="axil-new-arrivals-product-area fullwidth-container bg-color-white axil-section-gap pb--0"
	>
		<div class="container ml--xxl-0">
			<div class="product-area pb--50">
				<div class="section-title-wrapper">
					<span class="title-highlighter highlighter-primary"
						><i class="far fa-shopping-basket"></i> This Week’s</span
					>
					<h2 class="title">New Arrivals</h2>
				</div>
				<div
					class="new-arrivals-product-activation slick-layout-wrapper--15 axil-slick-arrow arrow-top-slide"
				>
					<div class="slick-single-layout">
						<div class="axil-product product-style-four">
							<div class="thumbnail">
								<a href="{{ url_for('productDetails') }}">
									<img
										data-sal="fade"
										data-sal-delay="100"
										data-sal-duration="1500"
										src="{{ url_for('static', filename='images/product/fashion/product-1.png') }}"
										alt="Product Images"
									/>
									<img
										class="hover-img"
										src="{{ url_for('static', filename='images/product/fashion/product-4.png') }}"
										alt="Product Images"
									/>
								</a>
								<div class="label-block label-right">
									<div class="product-badget">20% OFF</div>
								</div>
								<div class="product-hover-action">
									<ul class="cart-action">
										<li class="wishlist">
											<a href="wishlist.html"><i class="far fa-heart"></i></a>
										</li>
										<li class="select-option">
											<a href="cart.html">Add to Cart</a>
										</li>
										<li class="quickview">
											<a
												href="#"
												data-bs-toggle="modal"
												data-bs-target="#quick-view-modal"
												><i class="far fa-eye"></i
											></a>
										</li>
									</ul>
								</div>
							</div>
							<div class="product-content">
								<div class="inner">
									<h5 class="title">
										<a href="{{ url_for('productDetails') }}">Top Handle Handbag</a>
									</h5>
									<div class="product-price-variant">
										<span class="price old-price">$80</span>
										<span class="price current-price">$60</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- End .slick-single-layout -->
					<div class="slick-single-layout">
						<div class="axil-product product-style-four">
							<div class="thumbnail">
								<a href="{{ url_for('productDetails') }}">
									<img
										data-sal="fade"
										data-sal-delay="200"
										data-sal-duration="1500"
										src="{{ url_for('static', filename='images/product/fashion/product-2.png') }}"
										alt="Product Images"
									/>
									<img
										class="hover-img"
										src="{{ url_for('static', filename='images/product/fashion/product-6.png') }}"
										alt="Product Images"
									/>
								</a>
								<div class="product-hover-action">
									<ul class="cart-action">
										<li class="wishlist">
											<a href="wishlist.html"><i class="far fa-heart"></i></a>
										</li>
										<li class="select-option">
											<a href="cart.html">Add to Cart</a>
										</li>
										<li class="quickview">
											<a
												href="#"
												data-bs-toggle="modal"
												data-bs-target="#quick-view-modal"
												><i class="far fa-eye"></i
											></a>
										</li>
									</ul>
								</div>
							</div>
							<div class="product-content">
								<div class="inner">
									<h5 class="title">
										<a href="{{ url_for('productDetails') }}">Leather Bag For Men</a>
									</h5>
									<div class="product-price-variant">
										<span class="price old-price">$40</span>
										<span class="price current-price">$40</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- End .slick-single-layout -->
					<div class="slick-single-layout">
						<div class="axil-product product-style-four">
							<div class="thumbnail">
								<a href="{{ url_for('productDetails') }}">
									<img
										data-sal="fade"
										data-sal-delay="300"
										data-sal-duration="1500"
										src="{{ url_for('static', filename='images/product/fashion/product-3.png') }}"
										alt="Product Images"
									/>
								</a>
								<div class="label-block label-right">
									<div class="product-badget">15% OFF</div>
								</div>
								<div class="product-hover-action">
									<ul class="cart-action">
										<li class="wishlist">
											<a href="wishlist.html"><i class="far fa-heart"></i></a>
										</li>
										<li class="select-option">
											<a href="cart.html">Add to Cart</a>
										</li>
										<li class="quickview">
											<a
												href="#"
												data-bs-toggle="modal"
												data-bs-target="#quick-view-modal"
												><i class="far fa-eye"></i
											></a>
										</li>
									</ul>
								</div>
							</div>
							<div class="product-content">
								<div class="inner">
									<h5 class="title">
										<a href="{{ url_for('productDetails') }}">Long Sleeve Sweater</a>
									</h5>
									<div class="product-price-variant">
										<span class="price old-price">$30</span>
										<span class="price current-price">$24</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- End .slick-single-layout -->
					<div class="slick-single-layout">
						<div class="axil-product product-style-four">
							<div class="thumbnail">
								<a href="{{ url_for('productDetails') }}">
									<img
										data-sal="fade"
										data-sal-delay="400"
										data-sal-duration="1500"
										src="{{ url_for('static', filename='images/product/fashion/product-4.png') }}"
										alt="Product Images"
									/>
								</a>
								<div class="label-block label-right">
									<div class="product-badget">30% OFF</div>
								</div>
								<div class="product-hover-action">
									<ul class="cart-action">
										<li class="wishlist">
											<a href="wishlist.html"><i class="far fa-heart"></i></a>
										</li>
										<li class="select-option">
											<a href="cart.html">Add to Cart</a>
										</li>
										<li class="quickview">
											<a
												href="#"
												data-bs-toggle="modal"
												data-bs-target="#quick-view-modal"
												><i class="far fa-eye"></i
											></a>
										</li>
									</ul>
								</div>
							</div>
							<div class="product-content">
								<div class="inner">
									<h5 class="title">
										<a href="{{ url_for('productDetails') }}">Men's Winter Jacket</a>
									</h5>
									<div class="product-price-variant">
										<span class="price old-price">$50</span>
										<span class="price current-price">$40</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- End .slick-single-layout -->
					<div class="slick-single-layout">
						<div class="axil-product product-style-four">
							<div class="thumbnail">
								<a href="{{ url_for('productDetails') }}">
									<img
										data-sal="fade"
										data-sal-delay="100"
										data-sal-duration="1500"
										src="{{ url_for('static', filename='images/product/fashion/product-5.png') }}"
										alt="Product Images"
									/>
								</a>
								<div class="product-hover-action">
									<ul class="cart-action">
										<li class="wishlist">
											<a href="wishlist.html"><i class="far fa-heart"></i></a>
										</li>
										<li class="select-option">
											<a href="cart.html">Add to Cart</a>
										</li>
										<li class="quickview">
											<a
												href="#"
												data-bs-toggle="modal"
												data-bs-target="#quick-view-modal"
												><i class="far fa-eye"></i
											></a>
										</li>
									</ul>
								</div>
							</div>
							<div class="product-content">
								<div class="inner">
									<h5 class="title">
										<a href="{{ url_for('productDetails') }}">Micro Fiber Sheet</a>
									</h5>
									<div class="product-price-variant">
										<span class="price old-price">$60</span>
										<span class="price current-price">$50</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- End .slick-single-layout -->
					<div class="slick-single-layout">
						<div class="axil-product product-style-four">
							<div class="thumbnail">
								<a href="{{ url_for('productDetails') }}">
									<img
										data-sal="fade"
										data-sal-delay="200"
										data-sal-duration="1500"
										src="{{ url_for('static', filename='images/product/fashion/product-3.png') }}"
										alt="Product Images"
									/>
								</a>
								<div class="label-block label-right">
									<div class="product-badget">15% OFF</div>
								</div>
								<div class="product-hover-action">
									<ul class="cart-action">
										<li class="wishlist">
											<a href="wishlist.html"><i class="far fa-heart"></i></a>
										</li>
										<li class="select-option">
											<a href="cart.html">Add to Cart</a>
										</li>
										<li class="quickview">
											<a
												href="#"
												data-bs-toggle="modal"
												data-bs-target="#quick-view-modal"
												><i class="far fa-eye"></i
											></a>
										</li>
									</ul>
								</div>
							</div>
							<div class="product-content">
								<div class="inner">
									<h5 class="title">
										<a href="{{ url_for('productDetails') }}">Long Sleeve Sweater</a>
									</h5>
									<div class="product-price-variant">
										<span class="price old-price">$30</span>
										<span class="price current-price">$24</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- End .slick-single-layout -->
					<div class="slick-single-layout">
						<div class="axil-product product-style-four">
							<div class="thumbnail">
								<a href="{{ url_for('productDetails') }}">
									<img
										data-sal="fade"
										data-sal-delay="300"
										data-sal-duration="1500"
										src="{{ url_for('static', filename='images/product/fashion/product-4.png') }}"
										alt="Product Images"
									/>
								</a>
								<div class="label-block label-right">
									<div class="product-badget">30% OFF</div>
								</div>
								<div class="product-hover-action">
									<ul class="cart-action">
										<li class="wishlist">
											<a href="wishlist.html"><i class="far fa-heart"></i></a>
										</li>
										<li class="select-option">
											<a href="cart.html">Add to Cart</a>
										</li>
										<li class="quickview">
											<a
												href="#"
												data-bs-toggle="modal"
												data-bs-target="#quick-view-modal"
												><i class="far fa-eye"></i
											></a>
										</li>
									</ul>
								</div>
							</div>
							<div class="product-content">
								<div class="inner">
									<h5 class="title">
										<a href="{{ url_for('productDetails') }}">Men's Winter Jacket</a>
									</h5>
									<div class="product-price-variant">
										<span class="price old-price">$50</span>
										<span class="price current-price">$40</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- End .slick-single-layout -->
					<div class="slick-single-layout">
						<div class="axil-product product-style-four">
							<div class="thumbnail">
								<a href="{{ url_for('productDetails') }}">
									<img
										data-sal="fade"
										data-sal-delay="400"
										data-sal-duration="1500"
										src="{{ url_for('static', filename='images/product/fashion/product-5.png') }}"
										alt="Product Images"
									/>
								</a>
								<div class="product-hover-action">
									<ul class="cart-action">
										<li class="wishlist">
											<a href="wishlist.html"><i class="far fa-heart"></i></a>
										</li>
										<li class="select-option">
											<a href="cart.html">Add to Cart</a>
										</li>
										<li class="quickview">
											<a
												href="#"
												data-bs-toggle="modal"
												data-bs-target="#quick-view-modal"
												><i class="far fa-eye"></i
											></a>
										</li>
									</ul>
								</div>
							</div>
							<div class="product-content">
								<div class="inner">
									<h5 class="title">
										<a href="{{ url_for('productDetails') }}">Micro Fiber Sheet</a>
									</h5>
									<div class="product-price-variant">
										<span class="price old-price">$60</span>
										<span class="price current-price">$50</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- End .slick-single-layout -->
				</div>
			</div>
		</div>
	</div>
	<!-- End New Arrivals Product Area  -->

	<!-- Poster Countdown Area  -->
	<div class="axil-poster-countdown">
		<div class="container">
			<div class="poster-countdown-wrap bg-lighter">
				<div class="row">
					<div class="col-xl-5 col-lg-6">
						<div class="poster-countdown-content">
							<div class="section-title-wrapper">
								<span class="title-highlighter highlighter-secondary">
									<i class="far fa-shopping-basket"></i> Don’t Miss!!</span
								>
								<h2 class="title">Let's Shopping Today</h2>
							</div>
							<div class="poster-countdown countdown mb--40"></div>
							<a href="#" class="axil-btn btn-bg-primary">Check it Out!</a>
						</div>
					</div>
					<div class="col-xl-7 col-lg-6">
						<div class="poster-countdown-thumbnail">
							<img
								src="{{ url_for('static', filename='images/product/poster/poster-05.png') }}"
								alt="Poster Product"
							/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Poster Countdown Area  -->

	<!-- Start Expolre Product Area  -->
	<div class="axil-product-area bg-color-white axil-section-gap">
		<div class="container">
			<div class="section-title-wrapper">
				<span class="title-highlighter highlighter-primary">
					<i class="far fa-shopping-basket"></i> Our Products</span
				>
				<h2 class="title">Explore our Products</h2>
			</div>
			<div
				class="explore-product-activation slick-layout-wrapper slick-layout-wrapper--15 axil-slick-arrow arrow-top-slide"
			>
				<div class="slick-single-layout">
					<div class="row row--15">
						<div class="col-xl-3 col-lg-4 col-sm-6 col-12 mb--30">
							<div class="axil-product product-style-one">
								<div class="thumbnail">
									<a href="{{ url_for('productDetails') }}">
										<img
											data-sal="fade"
											data-sal-delay="100"
											data-sal-duration="1500"
											src="{{ url_for('static', filename='images/product/fashion/product-8.png') }}"
											alt="Product Images"
										/>
									</a>
									<div class="label-block label-right">
										<div class="product-badget">20% Off</div>
									</div>
									<div class="product-hover-action">
										<ul class="cart-action">
											<li class="quickview">
												<a
													href="#"
													data-bs-toggle="modal"
													data-bs-target="#quick-view-modal"
													><i class="far fa-eye"></i
												></a>
											</li>
											<li class="select-option">
												<a href="cart.html">Add to Cart</a>
											</li>
											<li class="wishlist">
												<a href="wishlist.html"><i class="far fa-heart"></i></a>
											</li>
										</ul>
									</div>
								</div>
								<div class="product-content">
									<div class="inner">
										<h5 class="title">
											<a href="{{ url_for('productDetails') }}">Leather Jacket</a>
										</h5>
										<div class="product-price-variant">
											<span class="price current-price">$29.99</span>
											<span class="price old-price">$49.99</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- End Single Product  -->
						<div class="col-xl-3 col-lg-4 col-sm-6 col-12 mb--30">
							<div class="axil-product product-style-one">
								<div class="thumbnail">
									<a href="{{ url_for('productDetails') }}">
										<img
											data-sal="fade"
											data-sal-delay="200"
											data-sal-duration="1500"
											src="{{ url_for('static', filename='images/product/fashion/product-7.png') }}"
											alt="Product Images"
										/>
									</a>
									<div class="product-hover-action">
										<ul class="cart-action">
											<li class="quickview">
												<a
													href="#"
													data-bs-toggle="modal"
													data-bs-target="#quick-view-modal"
													><i class="far fa-eye"></i
												></a>
											</li>
											<li class="select-option">
												<a href="{{ url_for('productDetails') }}">Select Option</a>
											</li>
											<li class="wishlist">
												<a href="wishlist.html"><i class="far fa-heart"></i></a>
											</li>
										</ul>
									</div>
								</div>
								<div class="product-content">
									<div class="inner">
										<h5 class="title">
											<a href="{{ url_for('productDetails') }}">Men's Stylish Hat</a>
										</h5>
										<div class="product-price-variant">
											<span class="price current-price">$25.00</span>
											<span class="price old-price">$35.99</span>
										</div>
										<div class="color-variant-wrapper">
											<ul class="color-variant">
												<li class="color-extra-01 active">
													<span><span class="color"></span></span>
												</li>
												<li class="color-extra-02">
													<span><span class="color"></span></span>
												</li>
												<li class="color-extra-03">
													<span><span class="color"></span></span>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- End Single Product  -->
						<div class="col-xl-3 col-lg-4 col-sm-6 col-12 mb--30">
							<div class="axil-product product-style-one">
								<div class="thumbnail">
									<a href="{{ url_for('productDetails') }}">
										<img
											data-sal="fade"
											data-sal-delay="300"
											data-sal-duration="1500"
											src="{{ url_for('static', filename='images/product/fashion/product-6.png') }}"
											alt="Product Images"
										/>
									</a>
									<div class="label-block label-right">
										<div class="product-badget">20% Off</div>
									</div>
									<div class="product-hover-action">
										<ul class="cart-action">
											<li class="quickview">
												<a
													href="#"
													data-bs-toggle="modal"
													data-bs-target="#quick-view-modal"
													><i class="far fa-eye"></i
												></a>
											</li>
											<li class="select-option">
												<a href="cart.html">Add to Cart</a>
											</li>
											<li class="wishlist">
												<a href="wishlist.html"><i class="far fa-heart"></i></a>
											</li>
										</ul>
									</div>
								</div>
								<div class="product-content">
									<div class="inner">
										<h5 class="title">
											<a href="{{ url_for('productDetails') }}">Women's Stylish Hat</a>
										</h5>
										<div class="product-price-variant">
											<span class="price current-price">$29.99</span>
											<span class="price old-price">$49.99</span>
										</div>
										<div class="color-variant-wrapper">
											<ul class="color-variant">
												<li class="color-extra-01 active">
													<span><span class="color"></span></span>
												</li>
												<li class="color-extra-02">
													<span><span class="color"></span></span>
												</li>
												<li class="color-extra-03">
													<span><span class="color"></span></span>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- End Single Product  -->
						<div class="col-xl-3 col-lg-4 col-sm-6 col-12 mb--30">
							<div class="axil-product product-style-one">
								<div class="thumbnail">
									<a href="{{ url_for('productDetails') }}">
										<img
											data-sal="fade"
											data-sal-delay="400"
											data-sal-duration="1500"
											src="{{ url_for('static', filename='images/product/fashion/product-5.png') }}"
											alt="Product Images"
										/>
									</a>
									<div class="product-hover-action">
										<ul class="cart-action">
											<li class="quickview">
												<a
													href="#"
													data-bs-toggle="modal"
													data-bs-target="#quick-view-modal"
													><i class="far fa-eye"></i
												></a>
											</li>
											<li class="select-option">
												<a href="cart.html">Add to Cart</a>
											</li>
											<li class="wishlist">
												<a href="wishlist.html"><i class="far fa-heart"></i></a>
											</li>
										</ul>
									</div>
								</div>
								<div class="product-content">
									<div class="inner">
										<h5 class="title">
											<a href="{{ url_for('productDetails') }}">Solid A Line Dress</a>
										</h5>
										<div class="product-price-variant">
											<span class="price current-price">$100.00</span>
											<span class="price old-price">$150.00</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- End Single Product  -->
						<div class="col-xl-3 col-lg-4 col-sm-6 col-12 mb--30">
							<div class="axil-product product-style-one">
								<div class="thumbnail">
									<a href="{{ url_for('productDetails') }}">
										<img
											data-sal="fade"
											data-sal-delay="100"
											data-sal-duration="1500"
											src="{{ url_for('static', filename='images/product/fashion/product-4.png') }}"
											alt="Product Images"
										/>
									</a>
									<div class="label-block label-right">
										<div class="product-badget">20% Off</div>
									</div>
									<div class="product-hover-action">
										<ul class="cart-action">
											<li class="quickview">
												<a
													href="#"
													data-bs-toggle="modal"
													data-bs-target="#quick-view-modal"
													><i class="far fa-eye"></i
												></a>
											</li>
											<li class="select-option">
												<a href="cart.html">Add to Cart</a>
											</li>
											<li class="wishlist">
												<a href="wishlist.html"><i class="far fa-heart"></i></a>
											</li>
										</ul>
									</div>
								</div>
								<div class="product-content">
									<div class="inner">
										<h5 class="title">
											<a href="{{ url_for('productDetails') }}">Denim Jacket</a>
										</h5>
										<div class="product-price-variant">
											<span class="price current-price">$50.00</span>
											<span class="price old-price">$89.99</span>
										</div>
										<div class="color-variant-wrapper">
											<ul class="color-variant">
												<li class="color-extra-01 active">
													<span><span class="color"></span></span>
												</li>
												<li class="color-extra-02">
													<span><span class="color"></span></span>
												</li>
												<li class="color-extra-03">
													<span><span class="color"></span></span>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- End Single Product  -->
						<div class="col-xl-3 col-lg-4 col-sm-6 col-12 mb--30">
							<div class="axil-product product-style-one">
								<div class="thumbnail">
									<a href="{{ url_for('productDetails') }}">
										<img
											data-sal="fade"
											data-sal-delay="200"
											data-sal-duration="1500"
											src="{{ url_for('static', filename='images/product/fashion/product-3.png') }}"
											alt="Product Images"
										/>
									</a>
									<div class="label-block label-right">
										<div class="product-badget">20% Off</div>
									</div>
									<div class="product-hover-action">
										<ul class="cart-action">
											<li class="quickview">
												<a
													href="#"
													data-bs-toggle="modal"
													data-bs-target="#quick-view-modal"
													><i class="far fa-eye"></i
												></a>
											</li>
											<li class="select-option">
												<a href="cart.html">Add to Cart</a>
											</li>
											<li class="wishlist">
												<a href="wishlist.html"><i class="far fa-heart"></i></a>
											</li>
										</ul>
									</div>
								</div>
								<div class="product-content">
									<div class="inner">
										<h5 class="title">
											<a href="{{ url_for('productDetails') }}">Leather Bag</a>
										</h5>
										<div class="product-price-variant">
											<span class="price current-price">$99.99</span>
											<span class="price old-price">$149.99</span>
										</div>
										<div class="color-variant-wrapper">
											<ul class="color-variant">
												<li class="color-extra-01 active">
													<span><span class="color"></span></span>
												</li>
												<li class="color-extra-02">
													<span><span class="color"></span></span>
												</li>
												<li class="color-extra-03">
													<span><span class="color"></span></span>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- End Single Product  -->
						<div class="col-xl-3 col-lg-4 col-sm-6 col-12 mb--30">
							<div class="axil-product product-style-one">
								<div class="thumbnail">
									<a href="{{ url_for('productDetails') }}">
										<img
											data-sal="fade"
											data-sal-delay="300"
											data-sal-duration="1500"
											src="{{ url_for('static', filename='images/product/fashion/product-2.png') }}"
											alt="Product Images"
										/>
									</a>
									<div class="label-block label-right">
										<div class="product-badget">20% Off</div>
									</div>
									<div class="product-hover-action">
										<ul class="cart-action">
											<li class="quickview">
												<a
													href="#"
													data-bs-toggle="modal"
													data-bs-target="#quick-view-modal"
													><i class="far fa-eye"></i
												></a>
											</li>
											<li class="select-option">
												<a href="{{ url_for('productDetails') }}">Select Option</a>
											</li>
											<li class="wishlist">
												<a href="wishlist.html"><i class="far fa-heart"></i></a>
											</li>
										</ul>
									</div>
								</div>
								<div class="product-content">
									<div class="inner">
										<h5 class="title">
											<a href="{{ url_for('productDetails') }}">Women's Jacket</a>
										</h5>
										<div class="product-price-variant">
											<span class="price current-price">$29.99</span>
											<span class="price old-price">$49.99</span>
										</div>
										<div class="color-variant-wrapper">
											<ul class="color-variant">
												<li class="color-extra-01 active">
													<span><span class="color"></span></span>
												</li>
												<li class="color-extra-02">
													<span><span class="color"></span></span>
												</li>
												<li class="color-extra-03">
													<span><span class="color"></span></span>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- End Single Product  -->
						<div class="col-xl-3 col-lg-4 col-sm-6 col-12 mb--30">
							<div class="axil-product product-style-one">
								<div class="thumbnail">
									<a href="{{ url_for('productDetails') }}">
										<img
											data-sal="fade"
											data-sal-delay="400"
											data-sal-duration="1500"
											src="{{ url_for('static', filename='images/product/fashion/product-1.png') }}"
											alt="Product Images"
										/>
									</a>
									<div class="label-block label-right">
										<div class="product-badget">20% Off</div>
									</div>
									<div class="product-hover-action">
										<ul class="cart-action">
											<li class="quickview">
												<a
													href="#"
													data-bs-toggle="modal"
													data-bs-target="#quick-view-modal"
													><i class="far fa-eye"></i
												></a>
											</li>
											<li class="select-option">
												<a href="cart.html">Add to Cart</a>
											</li>
											<li class="wishlist">
												<a href="wishlist.html"><i class="far fa-heart"></i></a>
											</li>
										</ul>
									</div>
								</div>
								<div class="product-content">
									<div class="inner">
										<h5 class="title">
											<a href="{{ url_for('productDetails') }}">Men's Tshirt</a>
										</h5>
										<div class="product-price-variant">
											<span class="price current-price">$29.99</span>
											<span class="price old-price">$39.99</span>
										</div>
										<div class="color-variant-wrapper">
											<ul class="color-variant">
												<li class="color-extra-01 active">
													<span><span class="color"></span></span>
												</li>
												<li class="color-extra-02">
													<span><span class="color"></span></span>
												</li>
												<li class="color-extra-03">
													<span><span class="color"></span></span>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- End Single Product  -->
					</div>
				</div>
				<!-- End .slick-single-layout -->
				<div class="slick-single-layout">
					<div class="row row--15">
						<div class="col-xl-3 col-lg-4 col-sm-6 col-12 mb--30">
							<div class="axil-product product-style-one">
								<div class="thumbnail">
									<a href="{{ url_for('productDetails') }}">
										<img
											src="{{ url_for('static', filename='images/product/fashion/product-8.png') }}"
											alt="Product Images"
										/>
									</a>
									<div class="label-block label-right">
										<div class="product-badget">20% Off</div>
									</div>
									<div class="product-hover-action">
										<ul class="cart-action">
											<li class="quickview">
												<a
													href="#"
													data-bs-toggle="modal"
													data-bs-target="#quick-view-modal"
													><i class="far fa-eye"></i
												></a>
											</li>
											<li class="select-option">
												<a href="cart.html">Add to Cart</a>
											</li>
											<li class="wishlist">
												<a href="wishlist.html"><i class="far fa-heart"></i></a>
											</li>
										</ul>
									</div>
								</div>
								<div class="product-content">
									<div class="inner">
										<h5 class="title">
											<a href="{{ url_for('productDetails') }}">Leather Jacket</a>
										</h5>
										<div class="product-price-variant">
											<span class="price current-price">$29.99</span>
											<span class="price old-price">$49.99</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- End Single Product  -->
						<div class="col-xl-3 col-lg-4 col-sm-6 col-12 mb--30">
							<div class="axil-product product-style-one">
								<div class="thumbnail">
									<a href="{{ url_for('productDetails') }}">
										<img
											src="{{ url_for('static', filename='images/product/fashion/product-7.png') }}"
											alt="Product Images"
										/>
									</a>
									<div class="product-hover-action">
										<ul class="cart-action">
											<li class="quickview">
												<a
													href="#"
													data-bs-toggle="modal"
													data-bs-target="#quick-view-modal"
													><i class="far fa-eye"></i
												></a>
											</li>
											<li class="select-option">
												<a href="{{ url_for('productDetails') }}">Select Option</a>
											</li>
											<li class="wishlist">
												<a href="wishlist.html"><i class="far fa-heart"></i></a>
											</li>
										</ul>
									</div>
								</div>
								<div class="product-content">
									<div class="inner">
										<h5 class="title">
											<a href="{{ url_for('productDetails') }}">Men's Stylish Hat</a>
										</h5>
										<div class="product-price-variant">
											<span class="price current-price">$25.00</span>
											<span class="price old-price">$35.99</span>
										</div>
										<div class="color-variant-wrapper">
											<ul class="color-variant">
												<li class="color-extra-01 active">
													<span><span class="color"></span></span>
												</li>
												<li class="color-extra-02">
													<span><span class="color"></span></span>
												</li>
												<li class="color-extra-03">
													<span><span class="color"></span></span>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- End Single Product  -->
						<div class="col-xl-3 col-lg-4 col-sm-6 col-12 mb--30">
							<div class="axil-product product-style-one">
								<div class="thumbnail">
									<a href="{{ url_for('productDetails') }}">
										<img
											src="{{ url_for('static', filename='images/product/fashion/product-6.png') }}"
											alt="Product Images"
										/>
									</a>
									<div class="label-block label-right">
										<div class="product-badget">20% Off</div>
									</div>
									<div class="product-hover-action">
										<ul class="cart-action">
											<li class="quickview">
												<a
													href="#"
													data-bs-toggle="modal"
													data-bs-target="#quick-view-modal"
													><i class="far fa-eye"></i
												></a>
											</li>
											<li class="select-option">
												<a href="cart.html">Add to Cart</a>
											</li>
											<li class="wishlist">
												<a href="wishlist.html"><i class="far fa-heart"></i></a>
											</li>
										</ul>
									</div>
								</div>
								<div class="product-content">
									<div class="inner">
										<h5 class="title">
											<a href="{{ url_for('productDetails') }}">Women's Stylish Hat</a>
										</h5>
										<div class="product-price-variant">
											<span class="price current-price">$29.99</span>
											<span class="price old-price">$49.99</span>
										</div>
										<div class="color-variant-wrapper">
											<ul class="color-variant">
												<li class="color-extra-01 active">
													<span><span class="color"></span></span>
												</li>
												<li class="color-extra-02">
													<span><span class="color"></span></span>
												</li>
												<li class="color-extra-03">
													<span><span class="color"></span></span>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- End Single Product  -->
						<div class="col-xl-3 col-lg-4 col-sm-6 col-12 mb--30">
							<div class="axil-product product-style-one">
								<div class="thumbnail">
									<a href="{{ url_for('productDetails') }}">
										<img
											src="{{ url_for('static', filename='images/product/fashion/product-5.png') }}"
											alt="Product Images"
										/>
									</a>
									<div class="product-hover-action">
										<ul class="cart-action">
											<li class="quickview">
												<a
													href="#"
													data-bs-toggle="modal"
													data-bs-target="#quick-view-modal"
													><i class="far fa-eye"></i
												></a>
											</li>
											<li class="select-option">
												<a href="cart.html">Add to Cart</a>
											</li>
											<li class="wishlist">
												<a href="wishlist.html"><i class="far fa-heart"></i></a>
											</li>
										</ul>
									</div>
								</div>
								<div class="product-content">
									<div class="inner">
										<h5 class="title">
											<a href="{{ url_for('productDetails') }}">Solid A Line Dress</a>
										</h5>
										<div class="product-price-variant">
											<span class="price current-price">$100.00</span>
											<span class="price old-price">$150.00</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- End Single Product  -->
						<div class="col-xl-3 col-lg-4 col-sm-6 col-12 mb--30">
							<div class="axil-product product-style-one">
								<div class="thumbnail">
									<a href="{{ url_for('productDetails') }}">
										<img
											src="{{ url_for('static', filename='images/product/fashion/product-4.png') }}"
											alt="Product Images"
										/>
									</a>
									<div class="label-block label-right">
										<div class="product-badget">20% Off</div>
									</div>
									<div class="product-hover-action">
										<ul class="cart-action">
											<li class="quickview">
												<a
													href="#"
													data-bs-toggle="modal"
													data-bs-target="#quick-view-modal"
													><i class="far fa-eye"></i
												></a>
											</li>
											<li class="select-option">
												<a href="cart.html">Add to Cart</a>
											</li>
											<li class="wishlist">
												<a href="wishlist.html"><i class="far fa-heart"></i></a>
											</li>
										</ul>
									</div>
								</div>
								<div class="product-content">
									<div class="inner">
										<h5 class="title">
											<a href="{{ url_for('productDetails') }}">Denim Jacket</a>
										</h5>
										<div class="product-price-variant">
											<span class="price current-price">$50.00</span>
											<span class="price old-price">$89.99</span>
										</div>
										<div class="color-variant-wrapper">
											<ul class="color-variant">
												<li class="color-extra-01 active">
													<span><span class="color"></span></span>
												</li>
												<li class="color-extra-02">
													<span><span class="color"></span></span>
												</li>
												<li class="color-extra-03">
													<span><span class="color"></span></span>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- End Single Product  -->
						<div class="col-xl-3 col-lg-4 col-sm-6 col-12 mb--30">
							<div class="axil-product product-style-one">
								<div class="thumbnail">
									<a href="{{ url_for('productDetails') }}">
										<img
											src="{{ url_for('static', filename='images/product/fashion/product-3.png') }}"
											alt="Product Images"
										/>
									</a>
									<div class="label-block label-right">
										<div class="product-badget">20% Off</div>
									</div>
									<div class="product-hover-action">
										<ul class="cart-action">
											<li class="quickview">
												<a
													href="#"
													data-bs-toggle="modal"
													data-bs-target="#quick-view-modal"
													><i class="far fa-eye"></i
												></a>
											</li>
											<li class="select-option">
												<a href="cart.html">Add to Cart</a>
											</li>
											<li class="wishlist">
												<a href="wishlist.html"><i class="far fa-heart"></i></a>
											</li>
										</ul>
									</div>
								</div>
								<div class="product-content">
									<div class="inner">
										<h5 class="title">
											<a href="{{ url_for('productDetails') }}">Leather Bag</a>
										</h5>
										<div class="product-price-variant">
											<span class="price current-price">$99.99</span>
											<span class="price old-price">$149.99</span>
										</div>
										<div class="color-variant-wrapper">
											<ul class="color-variant">
												<li class="color-extra-01 active">
													<span><span class="color"></span></span>
												</li>
												<li class="color-extra-02">
													<span><span class="color"></span></span>
												</li>
												<li class="color-extra-03">
													<span><span class="color"></span></span>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- End Single Product  -->
						<div class="col-xl-3 col-lg-4 col-sm-6 col-12 mb--30">
							<div class="axil-product product-style-one">
								<div class="thumbnail">
									<a href="{{ url_for('productDetails') }}">
										<img
											src="{{ url_for('static', filename='images/product/fashion/product-2.png') }}"
											alt="Product Images"
										/>
									</a>
									<div class="label-block label-right">
										<div class="product-badget">20% Off</div>
									</div>
									<div class="product-hover-action">
										<ul class="cart-action">
											<li class="quickview">
												<a
													href="#"
													data-bs-toggle="modal"
													data-bs-target="#quick-view-modal"
													><i class="far fa-eye"></i
												></a>
											</li>
											<li class="select-option">
												<a href="{{ url_for('productDetails') }}">Select Option</a>
											</li>
											<li class="wishlist">
												<a href="wishlist.html"><i class="far fa-heart"></i></a>
											</li>
										</ul>
									</div>
								</div>
								<div class="product-content">
									<div class="inner">
										<h5 class="title">
											<a href="{{ url_for('productDetails') }}">Women's Jacket</a>
										</h5>
										<div class="product-price-variant">
											<span class="price current-price">$29.99</span>
											<span class="price old-price">$49.99</span>
										</div>
										<div class="color-variant-wrapper">
											<ul class="color-variant">
												<li class="color-extra-01 active">
													<span><span class="color"></span></span>
												</li>
												<li class="color-extra-02">
													<span><span class="color"></span></span>
												</li>
												<li class="color-extra-03">
													<span><span class="color"></span></span>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- End Single Product  -->
						<div class="col-xl-3 col-lg-4 col-sm-6 col-12 mb--30">
							<div class="axil-product product-style-one">
								<div class="thumbnail">
									<a href="{{ url_for('productDetails') }}">
										<img
											src="{{ url_for('static', filename='images/product/fashion/product-1.png') }}"
											alt="Product Images"
										/>
									</a>
									<div class="label-block label-right">
										<div class="product-badget">20% Off</div>
									</div>
									<div class="product-hover-action">
										<ul class="cart-action">
											<li class="quickview">
												<a
													href="#"
													data-bs-toggle="modal"
													data-bs-target="#quick-view-modal"
													><i class="far fa-eye"></i
												></a>
											</li>
											<li class="select-option">
												<a href="cart.html">Add to Cart</a>
											</li>
											<li class="wishlist">
												<a href="wishlist.html"><i class="far fa-heart"></i></a>
											</li>
										</ul>
									</div>
								</div>
								<div class="product-content">
									<div class="inner">
										<h5 class="title">
											<a href="{{ url_for('productDetails') }}">Men's Tshirt</a>
										</h5>
										<div class="product-price-variant">
											<span class="price current-price">$29.99</span>
											<span class="price old-price">$39.99</span>
										</div>
										<div class="color-variant-wrapper">
											<ul class="color-variant">
												<li class="color-extra-01 active">
													<span><span class="color"></span></span>
												</li>
												<li class="color-extra-02">
													<span><span class="color"></span></span>
												</li>
												<li class="color-extra-03">
													<span><span class="color"></span></span>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- End Single Product  -->
					</div>
				</div>
				<!-- End .slick-single-layout -->
			</div>
			<div class="row">
				<div class="col-lg-12 text-center mt--20 mt_sm--0">
					<a href="{{ url_for('shop') }}" class="axil-btn btn-bg-lighter btn-load-more"
						>View All Products</a
					>
				</div>
			</div>
		</div>
	</div>
	<!-- End Expolre Product Area  -->

	<!-- Start Axil Newsletter Area  -->
	<div class="axil-newsletter-area axil-section-gap pt--0">
		<div class="container">
			<div class="etrade-newsletter-wrapper bg_image bg_image--12">
				<div class="newsletter-content">
					<span class="title-highlighter highlighter-primary2"
						><i class="fas fa-envelope-open"></i>Newsletter</span
					>
					<h2 class="title mb--40 mb_sm--30">Get weekly update</h2>
					<div class="input-group newsletter-form">
						<div class="position-relative newsletter-inner mb--15">
							<input placeholder="example@gmail.com" type="text" />
						</div>
						<button type="submit" class="axil-btn mb--15">Subscribe</button>
					</div>
				</div>
			</div>
		</div>
		<!-- End .container -->
	</div>
	<!-- End Axil Newsletter Area  -->
</main>

{% endblock %}
